{% extends 'adminapp/dashboard.html' %} {% block dashboard %}

<div>
    <div class="container-fluid p-4">
        <div class="page-card mt-3">
            <div
                class="page-card__header border-bottom pb-2 d-flex flex-wrap align-items-center justify-content-between">
                <label for="" class="page-card__title mb-3 mb-sm-0">Course:- {{course.name}}</label>
                <button class="btn btn-danger" uk-toggle="target: #module-modal">Add module</button>
            </div>
            <div class="d-flex flex-wrap add-product py-3">
                {% for m in course.modules.all %}
                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <div class="p-3 module-card  shadow rounded h-100">
                        <div class="page-card__header pb-2 d-flex flex-wrap align-items-center justify-content-between">
                            <label for="" class="page-card__title mb-3 mb-sm-0">{{m.title|truncatechars:25}}</label>
                            <button onclick="editModule('{{m.id}}','{{m.title}}');" class="btn btn-info"
                                title="detail"><i class="far fa-edit"></i></button>
                            <button onclick="deleteModule('{{m.id}}');" class="btn" title="detail"><i
                                    class="fas fa-trash-alt text-danger"></i></button>

                        </div>
                        <div class="module__container" id="module-list-{{m.id}}">
                            {% for s in m.sections.all %}
                            <div id="section-{{s.id}}" class="d-flex w-100">
                                <label class="mr-auto pl-2">{{s.title}}</label>
                                <a href="{% url 'adminapp:editsection' s.id %}">
                                    <button class="btn"><i class="far fa-edit text-info"></i></button>
                                </a>

                                <button onclick="deleteSection('{{s.id}}');" class="btn"><i
                                        class="fas fa-trash-alt text-danger"></i></button>
                            </div>
                            {% endfor %}
                        </div>
                        <a href="{% url 'adminapp:addsection' m.id %}">
                            <button class="btn btn-danger d-block mx-auto mt-2 w-100">
                                Add Section
                            </button>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="module-modal" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-border-rounded">
            <h2 class="uk-modal-title">Add Module</h2>
            <form id="add-module-form">{% csrf_token %}
                <div class="form-group">
                    <label for="moduletitle">Module name</label>
                    <input type="text" name="name" class="form-control" id="moduletitle" placeholder="Module name">
                </div>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button class="uk-button uk-button-danger" type="submit">
                        Add Module
                        <!-- <div class="d-flex align-items-center justify-content-between">
                    <label class="sp sp-circle mr-3"></label>
                    
                </div> -->
                    </button>
                </p>
            </form>

        </div>
    </div>
    <div id="edit-module-modal" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-border-rounded">
            <h2 class="uk-modal-title">Add Module</h2>
            <form id="edit-module-form">{% csrf_token %}
                <div class="form-group">
                    <label for="moduletitle">Module name</label>
                    <input type="text" name="name" class="form-control" id="edit-module-title"
                        placeholder="Module name">
                </div>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button class="uk-button uk-button-danger" type="submit">
                        Add Module
                        <!-- <div class="d-flex align-items-center justify-content-between">
                    <label class="sp sp-circle mr-3"></label>
                    
                </div> -->
                    </button>
                </p>
            </form>

        </div>
    </div>


    <div x-data="{show:false}" id="section-modal" class="uk-flex-top uk-modal-container" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-border-rounded">
            <h2 class="uk-modal-title">Add section</h2>
            <form id="form-add-section">{% csrf_token %}
                <div class="form-group">
                    <label for="moduletitle">Section name</label>
                    <input type="text" class="form-control" name="section-name" id="section-name"
                        placeholder="Section name" required>
                </div>
                <div class="form-group">
                    <label for="content-type">Content Type</label>
                    <select @change="{show=!show}" class="form-control" name="section-type" id="content-type">
                        {% for value, display_value in types %}
                        <option value={{value}}>{{display_value}}</option>
                        {% endfor %}
                    </select>
                </div>

                <template x-if="!show">
                    <div class="form-group">
                        <label for="host_name">Select Host</label>
                        <select class="form-control" name="host_name" id="host_name">
                            {% for value, display_value in hosts %}
                            <option value={{value}}>{{display_value}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group" id="plain-content">
                        <div>
                            <div>
                                <!-- <textarea class="form-control" name="section-content" id="edit-text-content"></textarea> -->
                                <input class="form-control" type="text" name="video-link" id="video-link"
                                    placeholder="enter video id" />
                            </div>
                            <div id='player-preview' style="margin-top: 10px;">

                            </div>
                        </div>
                    </div>
                </template>


                <div x-bind:class="{'hide':!show}" id="edit-area">
                    {% include 'adminapp/editor.html' %}
                </div>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button class="uk-button uk-button-danger" type="submit">
                        <div class="d-flex align-items-center justify-content-between">
                            <label id="loader" class="sp sp-circle mr-3 hide"></label>
                            Add section
                        </div>
                    </button>
                </p>
            </form>
        </div>
    </div>

    <div x-data="{show:false}" id="edit-section-modal" class="uk-flex-top uk-modal-container" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-border-rounded">
            <h2 class="uk-modal-title">Add section</h2>
            <form id="form-edit-section">{% csrf_token %}
                <div class="form-group">
                    <label for="moduletitle">Section name</label>
                    <input type="text" class="form-control" name="section-name" id="edit-section-name"
                        placeholder="Module name" required>
                </div>
                <div class="form-group">
                    <label for="content-type">Content Type</label>
                    <select @change="{show=!show}" class="form-control" name="section-type">
                        <option selected id="edit-content-type"></option>
                        {% for value, display_value in types %}
                        <option value={{value}}>{{display_value}}</option>
                        {% endfor %}
                    </select>
                </div>
                <template x-if="!show">
                    <div class="form-group" id="plain-content">
                        <div>
                            <div>
                                <!-- <textarea class="form-control" name="section-content" id="edit-text-content"></textarea> -->
                                <input class="form-control" type="text" name="video-link" id="e-video-link"
                                    placeholder="enter youtube id" />
                            </div>
                            <div id='player-preview' style="margin-top: 10px;">

                            </div>
                        </div>
                    </div>
                </template>

                <div id="edit-area" x-show="show">
                    {% include 'adminapp/editor.html' %}
                </div>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button class="uk-button uk-button-danger" type="submit">
                        <div class="d-flex align-items-center justify-content-between">
                            <label id="loader" class="sp sp-circle mr-3 hide"></label>
                            Edit section
                        </div>
                    </button>
                </p>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const formModule = document.getElementById("add-module-form");
        const formSection = document.getElementById("form-add-section");
        document.getElementById('video-link').addEventListener('change', createPreview);
        formModule.addEventListener('submit', addModule);
        formSection.addEventListener('submit', addSection);
    });

    function createPreview(event) {
        const link = event.target.value;
        const node = document.querySelector('#player-preview');
        removeElements(node);
        document.querySelector('#player-preview').appendChild(createPlayer(link));
    }
    function removeElements(node) {
        while (node.firstChild) {
            node.removeChild(node.firstChild);
        }
    }
    function createPlayer(link) {
        const player = document.createElement('iframe');
        Object.assign(player, {
            id: 'ytplayer',
            type: "text/html",
            width: "320",
            height: "180",
            src: `https://youtube.com/embed/${link}?autoplay=0`,
            frameborder: 0
        });
        return player;
    }

    function setModuleId(id) {
        localStorage.setItem('moduleId', id)
    }
    function addModule(e) {
        e.preventDefault();
        const url = `/adminapp/add-modules/{{course.id}}`;
        const formModule = document.getElementById("add-module-form");
        const payload = new FormData(formModule);
        payload.append('pk', "{{course.id}}");
        payload.append("csrfmiddlewaretoken", "{{csrf_token}}");
        submit('POST', url, payload, (res) => window.location.reload());

    }
    function addSection(e) {
        e.preventDefault();
        const url = "/adminapp/add-section/";
        const formSection = document.getElementById("form-add-section");
        const payload = new FormData(formSection);
        payload.append("module_id", localStorage.getItem('moduleId'));
        function reload() {
            const modal = UIkit.modal("#section-modal");
            modal.hide();
            window.location.reload()
        }
        submit('POST', url, payload, reload);
    }
    function deleteSection(id) {
        const url = `/adminapp/section/${id}/`;
        const payload = new FormData();
        payload.append("csrfmiddlewaretoken", "{{csrf_token}}");
        function remove(res) {
            document.getElementById(`section-${id}`).remove();
        }
        submit('GET', url, payload, remove)
    }
    function submit(type, url, payload, callback) {
        const loader = document.getElementById("loader");
        loader.classList.remove('hide');
        const xhr = new XMLHttpRequest();
        xhr.open(type, url, true);
        xhr.send(payload);
        xhr.onreadystatechange = function () {
            loader.classList.add('hide');
            if (this.readyState === XMLHttpRequest.DONE && this.status === 201) callback(this.response);
        }
    }

    function editSection(id) {
        const url = `/adminapp/section-detail/${id}`;
        fetch(url).then(res => res.json()).then(data => {
            const section = JSON.parse(data)[0]['fields'];
            console.log(section)
            const title = document.getElementById('edit-section-name');
            const type = document.getElementById('edit-content-type');
            const content = document.getElementById('edit-text-content');
            const videLink = document.querySelector("#e-video-link");
            console.log(videLink)
            title.value = section.title;
            type.value = section.content_type;
            type.innerText = section.content_type;
            videLink.value = section.video_link;
            const modal = UIkit.modal('#edit-section-modal')
            modal.show();
            const form = document.getElementById('form-edit-section');
            form.addEventListener('submit', function (e) {
                e.preventDefault();
                const payload = new FormData(form);
                fetch(url, {
                    method: "POST",
                    body: payload
                }).then(res => res.json()).then(data => {
                    console.log(data);
                    window.location.reload();
                })
            })

        }).catch()
    }

    function editModule(id, value) {
        const moduleName = document.getElementById('edit-module-title');
        moduleName.value = value;
        const form = document.getElementById('edit-module-form');
        const modal = UIkit.modal('#edit-module-modal');
        modal.show();
        form.addEventListener('submit', function () {
            event.preventDefault();
            const url = `/adminapp/module/${id}`;
            const payload = new FormData(form);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);
            xhr.send(payload);
            xhr.onreadystatechange = function () {
                if (this.readyState === XMLHttpRequest.DONE && this.status === 201) {
                    window.location.reload();
                }
            }
        });
    }


    function deleteModule(id) {
        const url = `/adminapp/module-delete/${id}`;
        fetch(url, {
            method: 'GET',

        }).then(res => res.json()).then(data => {
            window.location.reload();
        });
    }
</script>
{% endblock %}