{% extends 'adminapp/dashboard.html' %}
{% block dashboard %}

<div class="container" style="margin-top: 20px;">
    <h2 class="uk-modal-title">Add section</h2>
    <div x-data="{show:false}">
        <form method="POST" action="{% url 'adminapp:addsection' module.id %}" id="form-add-section">
            {% csrf_token %}
            <div class="form-group">
                <label for="moduletitle">Section name</label>
                <input type="text" class="form-control" name="section-name" id="section-name" placeholder="Module name"
                    required>
            </div>
            <div class="form-group">
                <label for="content-type">Content Type</label>
                <select class="form-control" name="section-type" id="content-type">
                    {% for value, display_value in types %}
                    <option value={{value}}>{{display_value}}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="video_section">
                <div class="form-group">
                    <label for="host_name">Select Host</label>
                    <select class="form-control" name="host_name" id="host_name">
                        {% for value, display_value in hosts %}
                        <option value={{value}}>{{display_value}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <div>
                        <p><span>Formatt for
                                Youtube:</span><span
                                style="background-color: lightgray;">https://www.youtube.com/embed/VIDEO_ID?autoplay=1</span>
                        </p>
                        <p><span>Format for
                                S3:</span><span
                                style="background-color: lightgray;">https://test-sor-bucket.s3.amazonaws.com/private/Pexels_Videos_1570920.mp4</span>
                        </p>
                    </div>
                    <input class="form-control" type="text" name="video-link" id="video-link"
                        placeholder="enter video link" />
                </div>
            </div>
            <div id="content_section" style="display: none;">
                <div class="uk-margin">
                    <textarea name="content" class="uk-textarea" rows="5" placeholder="Plain Text Content"></textarea>
                </div>
            </div>

            <p class="uk-text-right">
                <a href="{% url 'adminapp:addmodule' module.course.id %}">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                </a>
                <button class="uk-button uk-button-danger" type="submit">
                    <div class="d-flex align-items-center justify-content-between">
                        <label id="loader" class="sp sp-circle mr-3 hide"></label>
                        Add section
                    </div>
                </button>
            </p>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const sectionType = document.querySelector('#content-type');
        sectionType.addEventListener('change', toggleSectionType);
    });

    function toggleSectionType(event) {
        const value = event.target.value;
        const video_section = document.querySelector('#video_section');
        const content_section = document.querySelector('#content_section');
        console.log(content_section)
        if (value == 'VIDEO_LINK') {
            video_section.style.display = 'block';
            content_section.style.display = 'none';
        }
        else {
            video_section.style.display = 'none';
            content_section.style.display = 'block';
        }
    }

    function toggleView() {

    }
</script>
{% endblock %}