{% extends 'adminapp/dashboard.html' %}
{% load static %}
{% block dashboard %}

<div class="container-fluid p-4">
    <div class="page-card mt-3">
        <div class="page-card__header border-bottom pb-2 d-flex flex-wrap align-items-center justify-content-between">
            <label for="" class="page-card__title mb-3 mb-sm-0">Add Videos</label>
        </div>
        <form action="{% url 'adminapp:addvideos' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="d-flex flex-wrap align-items-start justify-content-center add-product">

                <div class="col order-md-2 order-1">
                    <div class="d-flex flex-wrap">
                        <div class="form-group my-3 col-xl-4 col-lg-3 col-md-6 col-12">
                            <label>Video Name</label>
                            <input type="text" class="form-control" name="name" required />
                        </div>
                        <div class="form-group my-3 col-xl-4 col-lg-3 col-md-6 col-12">
                            <label>Price</label>
                            <input type="file" class="form-control" name="video_file" accept="video/*" required />
                        </div>
                    </div>
                </div>
                <div class="add-product__control col-12 order-3 my-3 text-right">
                    <button type="submit" class="btn bg-main text-white mr-3">
                        Save
                    </button>
                    <a class="btn mr-3" href="{% url 'adminapp:videos' %}">
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>



{% endblock %}