{% extends 'adminapp/dashboard.html' %}
{% block dashboard %}
<div>
    <div id="loader" style="display: none;">
        {% include 'adminapp/loader.html' %}
    </div>
    <div class="container-fluid p-4">
        <div class="page-card mt-3">
            <div
                class="page-card__header border-bottom pb-2 d-flex flex-wrap align-items-center justify-content-between">
                <label for="" class="page-card__title mb-3 mb-sm-0">Course:- {{course.name}}</label>
                <button class="btn btn-danger" uk-toggle="target: #module-modal">Add module</button>
            </div>
            <div class="d-flex flex-wrap add-product py-3">
                {% for m in course.modules.all %}
                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <div class="p-3 module-card  shadow rounded h-100">
                        <div class="page-card__header pb-2 d-flex flex-wrap align-items-center justify-content-between">
                            <label for="" class="page-card__title mb-3 mb-sm-0">{{m.title|truncatechars:25}}</label>
                            <button class="btn btn-info" title="detail"><i class="far fa-edit"></i></button>
                            <button onclick="deleteModule('{{m.id}}')" ; class="btn" title="detail"><i
                                    class="fas fa-trash-alt text-danger"></i></button>

                        </div>
                        <div class="module__container" id="module-list-{{m.id}}">
                            {% for s in m.sections.all %}
                            <div id="section-{{s.id}}" class="d-flex w-100">
                                <label class="mr-auto pl-2">{{s.title}}</label>
                                <a href="{% url 'adminapp:testeditsection' s.id %}">
                                    <button class="btn"><i class="far fa-edit text-info"></i></button>
                                </a>
                                <button onclick="deleteSection('{{s.id}}');" class="btn"><i
                                        class="fas fa-trash-alt text-danger"></i></button>
                            </div>
                            {% endfor %}
                        </div>
                        <a href="{% url 'adminapp:testaddsection' m.id %}">
                            <button class="btn btn-danger d-block mx-auto mt-2 w-100">
                                Add Section
                            </button>
                        </a>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div id="module-modal" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-border-rounded">
                <h2 class="uk-modal-title">Add Module</h2>
                <form id="add-module-form">{% csrf_token %}
                    <div class="form-group">
                        <label for="moduletitle">Module name</label>
                        <input type="text" name="name" class="form-control" id="moduletitle" placeholder="Module name"
                            required>
                    </div>
                    <p class="uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                        <button class="uk-button uk-button-danger" type="submit">
                            Add Module
                            <!-- <div class="d-flex align-items-center justify-content-between">
                        <label class="sp sp-circle mr-3"></label>
                        
                    </div> -->
                        </button>
                    </p>
                </form>
            </div>
        </div>
    </div>
    <div x-data=App() id="section-modal" class="uk-flex-top uk-modal-container" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-border-rounded">
            <h2 class="uk-modal-title">Add section</h2>
            <form @submit="submit(event)" id="form-add-section">{% csrf_token %}
                <div class="form-group">
                    <label for="moduletitle">Section name</label>
                    <input type="text" class="form-control" name="section-name" id="section-name"
                        placeholder="Section name" required>
                </div>
                <div class="form-group">
                    <label for="content-type">Content Type</label>
                    <select x-on:change="{show = !show}" class="form-control" name="section-type" id="content-type">
                        {% for value, display_value in types %}
                        <option value={{value}}>{{display_value}}</option>
                        {% endfor %}
                    </select>
                </div>
                <template x-if="!show">
                    <div class="form-group" id="plain-content">
                        <div>
                            <div>
                                <!-- <textarea class="form-control" name="section-content" id="edit-text-content"></textarea> -->
                                <input class="form-control" type="text" name="video-link" id="video-link"
                                    placeholder="enter youtube id" />
                            </div>
                            <div id='player-preview' style="margin-top: 10px;">

                            </div>
                        </div>
                    </div>
                </template>

                <div id="edit-area" x-bind:class="{'hide':!show}">
                    {% include 'adminapp/editor.html' %}
                </div>

                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button class="uk-button uk-button-danger" type="submit">
                        <div class="d-flex align-items-center justify-content-between">
                            <label id="loader" class="sp sp-circle mr-3 hide"></label>
                            Add section
                        </div>
                    </button>
                </p>
            </form>
        </div>
    </div>

</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const addForm = document.querySelector("#add-module-form");
        addForm.addEventListener('submit', (event) => {
            event.preventDefault();
            const formData = new FormData(addForm);
            addModule(formData);
        })
    });

    function addModule(data) {
        const url = `/adminapp/add-modules/{{course.id}}`;
        data.append('pk', "{{course.id}}");
        function success() {
            window.location.reload();
        }
        toggleModal("#module-modal", false)
        serverCall('POST', url, data, success)
    }

    function editModule() {

    }

    function deleteModule(id) {
        const url = `/adminapp/module-delete/${id}`;
        fetch(url, {
            method: 'GET',

        }).then(res => res.json()).then(data => {
            window.location.reload();
        });
    }


    function serverCall(type, url, payload, callback) {
        const xhr = new XMLHttpRequest();
        xhr.open('type', url, true);
        // payload.append("csrfmiddlewaretoken", "{{csrf_token}}");
        // xhr.setRequestHeader('csrfmiddlewaretoken', "{{csrf_token}}");
        toggleLoader(true);
        xhr.send(payload);
        xhr.onreadystatechange = function () {
            if (this.readyState === XMLHttpRequest.DONE && this.status === 201) {
                toggleLoader(false);
                callback();
            }
        }
    }

    function toggleLoader(isLoading) {
        const loader = document.querySelector("#loader");
        switch (isLoading) {
            case true:
                loader.style.display = 'block';
            case false: loader.classList.add('hide');
            default: null
        }
    }

    function toggleModal(modalId, state) {
        const modal = UIkit.modal(modalId);
        if (state === true) {
            modal.show();
        }
        else if (state === false) {
            modal.hide();
        }
    }

    function toggleSectionModal(id) {
        localStorage.setItem('module_id', id);
        toggleModal("#section-modal", true);
    }

    function addSection(payload) {
        const url = "/adminapp/add-section/";
        payload.append('module_id', localStorage.getItem('module_id'));
        function success() {
            const modal = UIkit.modal("#section-modal");
            modal.hide();
            window.location.reload()
        }
        serverCall('POST', url, payload, success);
    }

    function deleteSection(id) {
        const url = `/adminapp/section/${id}/`;
        const payload = new FormData();
        function success(res) {
            document.getElementById(`section-${id}`).remove();
        }
        serverCall('GET', url, payload, success)
    }

    function App() {
        return {
            show: false,
            submit: function (event) {
                event.preventDefault();
                const formData = new FormData(event.target);
                console.log(event.target);
                const content = [];
                editor.save().then((outputData) => {
                    console.log('Article data: ', outputData.blocks);
                    formData.append('content', outputData.blocks);
                    addSection(formData);

                }).catch((error) => {
                    console.log('Saving failed: ', error);
                });
            }
        }
    }

</script>

{% endblock %}