<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin School of Resources</title>
  {% comment %}
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
  {% endcomment %}
  <link rel="stylesheet" href="../../../static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" />
  <link rel="stylesheet" href="../../../static/css/uikit.min.css" />
  <link rel="stylesheet" href="../../../static/css/dashboard.css" />
  <link rel="stylesheet" href="../../../static/css/custom.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">


</head>

<body>
  <div>{% block main %} {% endblock %}</div>

  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js" defer></script>
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->

  <script src="../../../static/js/jquery-3.5.1.slim.min.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

  <script src="../../../static/js/script.js"></script>
  <script src="../../../static/js/bootstrap.min.js"></script>
  <script src="../../../static/js/popper.min.js"></script>
  <script src="../../../static/js/uikit-icons.mun.js"></script>
  <script src="../../../static/js/uikit.min.js"></script>

  {% block script %}
  {% endblock script %}


</body>

</html>