{% extends 'adminapp/dashboard.html' %}
{% block dashboard %}
<div x-data="App()" class="container-fluid p-4">
    <div class="page-card mt-3 my-5">
        <div class="page-card__header border-bottom pb-2 d-flex flex-wrap align-items-center justify-content-between">
            <label for="" class="page-card__title mb-3 mb-sm-0">Course Category</label>
            <button class="btn btn-main bg-main text-white float-right px-4 mb-3 mb-sm--0" uk-toggle="target: #my-id"
                type="button"><i class="fas fa-plus-circle mr-3"></i>Add Category</button>
        </div>
        <div class="ci-table">
            <div class="ci-table__header border-bottom">
                <div class="col-md-12 d-flex">
                    <div class="col-4 px-0 text-left">
                        <label for="" class="ci-table__header--title">Name</label>
                    </div>
                    <div class="col-4 px-0 text-center">
                        <label for="" class="ci-table__header--title">Status</label>
                    </div>
                    <div class="col-4 px-0 text-center">
                        <label for="" class="ci-table__header--title">Action</label>
                    </div>
                </div>
            </div>
            <!-- ci-body contain table of contentand this will reapeat agin and again -->
            {% for c in categories %}
            <div class="ci-table__body border-bottom flex-wrap">
                <div class="col-md-12 d-flex flex-wrap">
                    <div class="col-4 px-0 text-md-left">
                        <label for="" class="ci-table__body--title">{{c.name}}</label>
                    </div>
                    <div class="col-4  px-0 text-md-center text-center">
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="col-4 px-0 text-center ">
                        <button @click="editItem('{{c.name}}')" class="btn"><i
                                class="far fa-edit text-info"></i></button>
                        <button @click="deleteItem('{{c.id}}')" class="btn"><i
                                class="fas fa-trash-alt text-danger"></i></button>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- ci-body ends -->
        </div>
    </div>
</div>
<div x-data="App()" id="my-id" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-border-rounded">
        <h2 class="uk-modal-title">Add Category</h2>
        <form action="{% url 'adminapp:category' %}" method="POST" id="add-module-form">{% csrf_token %}
            <div class="form-group">
                <label for="category">Category name</label>
                <input x-bind:value="currentItem" type="text" name="category" class="form-control" id="category"
                    placeholder="category name" required>
            </div>
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                <button @click="isLoading = true" class="uk-button uk-button-danger" type="submit">
                    <div class="d-flex align-items-center justify-content-between">
                        <label x-show="false" class="sp sp-circle mr-3"></label>
                        Add category
                    </div>
                </button>
            </p>
        </form>
    </div>
</div>


<script type="text/javascript">
    function App() {
        return {
            isLoading: false,
            currentItem: "",
            editItem: function (value) {
                this.currentItem = value;
                console.log(this.currentItem);
                document.querySelector('#category').value = value;
                const modal = UIkit.modal('#my-id');
                modal.show();
            },
            deleteItem: function (id) {
                console.log('delete');
                const url = `/adminapp/category/${id}`;
                const success = (res) => {
                    if (res.status == 200) {
                        window.location.reload();
                    }
                }
                api('DELETE', url, {}, success);
            }
        }
    }

    function api(method, url, payload, callback) {
        const csrftoken = getCookie('csrftoken');
        fetch(url, {
            method: 'DELETE', headers: {
                'X-CSRFToken': csrftoken
            }
        }).then((res) => {
            callback(res)
        }).catch((err) => console.log(err))
    }
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

</script>
{% endblock dashboard %}