{% extends 'adminapp/dashboard.html' %}
{% load static %}
{% block dashboard %}

<div class="d-flex flex-wrap">
    <div class="col-6 py-5 bg-success"></div>
    <div class="col-6"></div>
    <div class="col-6"></div>
    <div class="col-6"></div>
</div>
{% endblock %}