{% extends 'adminapp/dashboard.html' %} {% load static %} {% block dashboard %}

<div class="container-fluid p-4">
  <!-- <label for="" class="header-title">COURSES</label> -->
  <div class="page-card mt-3">
    <div class="page-card__header border-bottom pb-2 d-flex flex-wrap align-items-center justify-content-between">
      <label for="" class="page-card__title mb-3 mb-sm-0">Course List</label>
      <a href="{% url 'adminapp:addcourse' %}"><button class="btn btn-danger">Add Course</button></a>
    </div>
    <div class="ci-table">
      <div class="ci-table__header border-bottom">
        <div class="col px-0">
          <label for="" class="ci-table__header--title">Sl No</label>
        </div>
        <div class="col-11 d-flex">
          <!-- <div class="col px-0">
                        <label for="" class="ci-table__header--title">Image</label>
                    </div> -->
          <div class="col px-0">
            <label for="" class="ci-table__header--title">Course Title</label>
          </div>
          <div class="col px-0">
            <label for="" class="ci-table__header--title">Tutor</label>
          </div>
          <div class="col px-0">
            <label for="" class="ci-table__header--title">Enrolled</label>
          </div>
          <div class="col px-0">
            <label for="" class="ci-table__header--title">Completed</label>
          </div>
          <div class="col px-0">
            <label for="" class="ci-table__header--title">Status</label>
          </div>
          <div class="col px-0 text-center">
            <label for="" class="ci-table__header--title">Action</label>
          </div>
        </div>
      </div>

      <!--  contain table of contentand this will reapeat agin and again -->
      {% for c in courses %}

      <div class="ci-table__body border-bottom flex-wrap">
        <div class="col-md px-0">
          <label for="" class="ci-table__body--title">
            <span class="d-md-none d-inline-block mr-4">Sl No</span>{{c.id}}</label>
        </div>
        <div class="col-md-11 d-flex flex-wrap px-0 px-md-3">
          <!-- <div class="col-md px-0">
                        <span class="d-md-none d-inline-block mr-4">Course Image</span>
                        <img class="w-100 pr-3" src="{% static 'assets/course-tumb.png' %}" alt="">
                    </div> -->
          <div class="col-md px-0">
            <label for="" class="ci-table__body--title"><span class="d-md-none d-inline-block mr-3">Course
                Title:</span>{{c.name}}</label>
          </div>
          <div class="col-md px-0">
            <label for="" class="ci-table__body--title"><span
                class="d-md-none d-inline-block mr-3">Tutor:</span>{{c.trainer.user.first_name}}</label>
          </div>
          <div class="col-md px-0">
            <label for="" class="ci-table__body--title"><span
                class="d-md-none d-inline-block mr-3">Enrolled:</span>99</label>
          </div>
          <div class="col-md px-0">
            <label for="" class="ci-table__body--title"><span
                class="d-md-none d-inline-block mr-3">Completed:</span>99</label>
          </div>

          <div class="col-md px-0">
            <label for="" class="ci-table__body--title"><span
                class="d-md-none d-inline-block mr-3">Completed:</span>99</label>
          </div>
          <div class="col-md px-0">
            <label for="" class="ci-table__body--title"><span
                class="d-md-none d-inline-block mr-3">status:</span>{{c.status}}</label>
          </div>
          <div class="col-md px-0 text-md-center">
            <span class="d-md-none d-inline-block mr-4">Action</span>
            <a href="{% url 'adminapp:editcourse' c.id %}">
              <i class="far fa-edit text-info pointer"></i>

            </a>
            <a href="{% url 'adminapp:makeinactive' c.id %}"> <i class="fa fa-trash text-info pointer"></i></a>
          </div>
        </div>
      </div>
      {% endfor %}

      <!--  ends -->
    </div>
  </div>
</div>

{% endblock %}