{% extends 'adminapp/dashboard.html' %}
{% load static %}
{% block dashboard %}

<div class="container-fluid p-4">
    <!-- <label for="" class="header-title">ADD PRODUCT</label> -->
    <div class="page-card mt-3">
        <div class="page-card__header border-bottom pb-2 d-flex flex-wrap align-items-center justify-content-between">
            <label for="" class="page-card__title mb-3 mb-sm-0">Create payment Link</label>
        </div>
        <form action="{% url 'adminapp:createpayment' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="d-flex flex-wrap align-items-start justify-content-center add-product">

                <div class="col order-md-2 order-1">
                    <div class="d-flex flex-wrap">
                        <div class="form-group my-3 col-xl-4 col-lg-3 col-md-6 col-12">
                            <label>Client Name</label>
                            <input type="text" class="form-control" name="client" required />
                        </div>
                        <div class="form-group my-3 col-xl-4 col-lg-3 col-md-6 col-12">
                            <label>Phone</label>
                            <input type="number" class="form-control" name="phone" required />
                        </div>
                        <div class="form-group my-3 col-xl-4 col-lg-3 col-md-6 col-12">
                            <label>email</label>
                            <input type="email" class="form-control" name="email" required />
                        </div>
                        <!-- <div class="form-group my-3 col-xl-4 col-lg-3 col-md-6 col-12">
                            <label>Price</label>
                            <input type="number" class="form-control" name="price" />
                        </div> -->
                        <div class="form-group my-3 col-xl-4 col-lg-3 col-md-6 col-12">
                            <label>Offer Price</label>
                            <input type="number" class="form-control" name="offer-price" required />
                        </div>
                        <div class="form-group my-3 col-xl-4 col-lg-3 col-md-6 col-12">
                            <label>Course</label>
                            <select class="form-control" name="course" required>
                                <option value="">-----</option>
                                {% for c in courses %}
                                <option value={{c.id}}>{{c.name}}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <!-- <div class="form-group my-3 col-xl-4 col-lg-3 col-md-6 col-12">
                            <label>Category</label>
                            <select class="form-control" name="category" required>
                                <option value="">-----</option>

                            </select>
                        </div> -->
                        <div class="form-group my-3 col-6">
                            <label for="exampleFormControlTextarea1">Address</label>
                            <textarea class="form-control" rows="3" name="address"></textarea>
                        </div>
                        <div class="form-group my-3 col-6">
                            <label for="exampleFormControlTextarea1">Remarks</label>
                            <textarea class="form-control" rows="3" name="remarks"></textarea>
                        </div>
                    </div>
                </div>
                <div class="add-product__control col-12 order-3 my-3 text-right">
                    <button type="submit" class="btn bg-main text-white mr-3">
                        Save
                    </button>
                    <a class="btn mr-3" href="{% url 'adminapp:orders' %}">
                        Cancel
                    </a>
                </div>
            </div>
        </form>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>

{% endblock %}