{% extends 'adminapp/base.html' %}
{% load static %}
{% block main %}

<div class="container-fluid px-0">
    <div class="row m-0">
        <div class="col-12 px-0 top-bar-container">
            <!-- Top Navigation -->
            <div id="top-bar" class="container-fluid top-bar px-0">
                <div class="d-flex align-items-center justify-content-between h-100">
                    <div class="top-bar__control-button ml-3 col pr-0">
                        <button class="btn bg-0 text-main" onclick="sideBar()"><i class="fas fa-bars"></i></button>
                    </div>
                    <div class="top-bar__user-control col d-flex align-items-center">
                        <div class="form-group top-bar__user-control--search-box mb-0">
                            <input type="text" class="form-control" id="search" placeholder="Type the keyword">
                            <i class="fas fa-search pointer"></i>
                        </div>
                        <div class="top-bar__user-control--profile dropdown">
                            <img src="{% static 'assets/man.png' %}" alt="" class="pointer dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Edit Profile</a>
                                <a class="dropdown-item" href="#">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Navigation Ends -->
        </div>
        <div id="side-bar-container" class="col-4 side-bar-container px-0 position-relative">
            <!-- Side menu bar -->
            <div id="sidebar-menu" class="container-fluid sidemenu-bar px-0">
                <div class="sidemenu-bar__logo-holder">
                    <img src="{% static 'assets/logo_1589698236logo (1).png' %}" alt="">
                </div>
                <button id="close-btn" class="btn-close d-none pointer" onclick="sideBar()"><i
                        class="fas fa-times"></i></button>
                <div class="sidemenu-bar__menu">
                    <ul class="uk-nav-parent-icon" uk-nav>
                        <li class="uk-active"><a class="nav-link active" href="#"><i
                                    class="fas fa-home mr-3"></i>Dashboard</a></li>
                        <li>
                            <a class="nav-link" href="{% url 'adminapp:courses' %}"><i
                                    class="fas fa-box mr-3"></i>Courses</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'adminapp:category' %}"><i
                                    class="fas fa-box mr-3"></i>Categories</a>
                        </li>
                        <!-- <li class="uk-parent">
                            <a class="nav-link" href="#"><i class="fas fa-box mr-3"></i>Courses</a>
                            <ul class="uk-nav-sub">
                                <li>
                                    <a class="nav-link" href="#">Category</a>
                                </li>
                                <li>
                                    <a class="nav-link" href="#">Sub Category</a>
                                </li>
                                <li>
                                    <a class="nav-link" href="#">Product List</a>
                                </li>
                                <li>
                                    <a class="nav-link" href="#">Add Product</a>
                                </li>
                            </ul>
                        </li> -->
                        <li class="uk-parent">
                            <a class="nav-link" href="#"><i class="fas fa-dollar-sign mr-3"></i>Sales</a>
                            <ul class="uk-nav-sub">
                                <li>
                                    <a class="nav-link" href="{% url 'adminapp:orders' %}">Orders</a>
                                    <a class="nav-link" href="{% url 'adminapp:createpayment' %}">Create Order</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'adminapp:videos' %}"><i
                                    class="far fa-image mr-3"></i>Videos</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#"><i class="fas fa-user mr-3"></i>Customers</a>
                        </li>
                        <li class="uk-parent">
                            <a class="nav-link" href="#"><i class="fas fa-file-alt mr-3"></i>Report</a>
                            <ul class="uk-nav-sub">
                                <li>
                                    <a class="nav-link" href="#">Product Report</a>
                                </li>
                                <li>
                                    <a class="nav-link" href="#">Sales Report</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="nav-link" href="#"><i class="fas fa-file-invoice-dollar mr-3"></i>Invoice</a>
                        </li>
                        <li id="logout">
                            <a class="nav-link"><i class="fas fa-power-off mr-3"></i>Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Side menu bar Ends -->
        </div>
        <div class="col content-container px-0">
            <div class="content-wraper">
                {% block dashboard %}
                {% endblock %}
                <div class="spacer"></div>
                <!-- footer -->
                <div class="container-fluid bg-white footer-credits p-4">
                    <div class="d-flex flex-wrap w-100">
                        <label for="" class="mb-0 col-md-6 col-12 text-md-left text-center">Copyright 2019 © School Of
                            Resourses All
                            rights reserved.</label>
                        <label class="col-md-6 col-12 mb-0 text-md-right text-center" for="">Hand crafted & made with
                            <br class="d-block d-md-none"> <i class="fas fa-heart"></i></label>
                    </div>
                </div>
                <!-- footer ends -->
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('logout').addEventListener('click', logout);
    });
    function logout() {
        const xhr = new XMLHttpRequest();
        xhr.open('GET', '/logout/', true)
        xhr.send();
        xhr.onreadystatechange = function () {
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) window.location.reload()
        };
    };
</script>
{% endblock %}