{% extends 'adminapp/dashboard.html' %}
{% block dashboard %}
<div class="container">

    <h3>{{section.title}}</h3>
    <div x-data="{show:false,type:'{{section.content_type}}'}" class=" uk-margin-auto-vertical uk-border-rounded">
        <h2 class="uk-modal-title">Edit section</h2>
        <form type='POST' action="{% url 'adminapp:editsection' section.id %}" id="form">{% csrf_token %}
            <div class="form-group">
                <label for="moduletitle">Section name</label>
                <input type="text" class="form-control" name="section-name" id="section-name" placeholder="Module name"
                    value="{{section.title}}" required>
            </div>
            <div class="form-group">
                <label for="content-type">Content Type</label>
                <select @change="{show=!show}" class="form-control" name="section-type" id="content-type" required>
                    <option selected value="{{section.content_type}}">{{section.content_type}}</option>
                    {% for value, display_value in types %}
                    <option value={{value}}>{{display_value}}</option>
                    {% endfor %}
                </select>
            </div>
            <template x-if="!show">
                <div class="form-group" id="plain-content">
                    <div>
                        <div>
                            <!-- <textarea class="form-control" name="section-content" id="edit-text-content"></textarea> -->
                            <input class="form-control" type="text" name="video-link" id="video-link"
                                value="{{section.video_link}}" placeholder="enter youtube id" />
                        </div>
                        <div id='player-preview' style="margin-top: 10px;">

                        </div>
                    </div>
                </div>
            </template>


            <div x-bind:class="{'hide':!show }" id="edit-area">
                {% include 'adminapp/editor.html' %}
            </div>
            <p class="uk-text-right">
                <button class="uk-button uk-button-danger" type="submit">
                    <div class="d-flex align-items-center justify-content-between">
                        <label id="loader" class="sp sp-circle mr-3 hide"></label>
                        Save
                    </div>
                </button>
            </p>
        </form>
    </div>
</div>
<script>
    console.log(editor);
    console.log('{{section.content}}')

    document.addEventListener("DOMContentLoaded", () => {
        const form = document.querySelector("#form");
        form.addEventListener('submit', editSection);
        const type = '{{section.content_type}}';
        console.log('{{section.content}}')
    });
    function editSection(event) {
        event.preventDefault();
        const url = `/adminapp/edit-section/${'{{section.id}}'}`;
        const payload = new FormData(event.target);
        payload.append('content', [...getEditorData()])
        console.log(getEditorData())
        function success(res) {
            const data = JSON.parse(res)
            // window.location.replace(data.success_url)
        }
        sumbit('POST', url, payload, success);
    }

    function sumbit(type, url, payload, callback) {
        const xhr = new XMLHttpRequest();
        xhr.open(type, url, true);
        xhr.send(payload);
        xhr.onreadystatechange = function () {
            if (this.readyState === XMLHttpRequest.DONE && this.status === 201) callback(this.response);
        }
    }
    function getEditorData() {
        editor.save().then((outputData) => {
            const { blocks } = outputData;
            return blocks;
        }).catch((err) => console.log(err))
    }



</script>

{% endblock %}