{% extends 'adminapp/dashboard.html' %} {% block dashboard %}
<div class="container-fluid p-4">
    <!-- <label for="" class="header-title">ADD PRODUCT</label> -->
    <div class="page-card mt-3">
        <div class="page-card__header border-bottom pb-2 d-flex flex-wrap align-items-center justify-content-between">
            <label for="" class="page-card__title mb-3 mb-sm-0">Add Courses</label>
            <a href="{% url 'adminapp:addmodule' course.id %}"><button class="btn btn-danger">Edit Modules</button></a>
        </div>
        <form action="{% url 'adminapp:editcourse' course.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="d-flex flex-wrap align-items-start justify-content-center add-product">
                <div class="col-md-4 add-product__imgs flex-wrap order-md-1 order-2">
                    <div class="add-product__imgs--featured">
                        <input type="file" name="featured-img" />
                        <img id=preview src="{{course.course_image.url}}" class="course__img" alt="">
                        <div class="add-product__imgs--featured--detail">
                            <i class="fas fa-plus"></i>
                            <label for="">Course Image</label>
                        </div>
                    </div>
                </div>
                <div class="col order-md-2 order-1">
                    <div class="d-flex flex-wrap">
                        <div class="form-group my-3 col-xl-4 col-lg-4 col-md-6 col-12">
                            <label>Course Name</label>
                            <input type="text" class="form-control" name="name" value="{{course.name}}" required />
                        </div>
                        <div class="form-group my-3 col-xl-4 col-lg-4 col-md-6 col-12">
                            <label>Price</label>
                            <input type="number" class="form-control" name="price" value={{course.price}} required />
                        </div>
                        <div class="form-group my-3 col-xl-4 col-lg-4 col-md-6 col-12">
                            <label>Offer Price</label>
                            <input type="number" class="form-control" name="offer-price"
                                value="{{course.offer_price}}" />
                        </div>
                        <div class="form-group my-3 col-xl-4 col-lg-4 col-md-6 col-12">
                            <label>Course Tutor</label>
                            <select class="form-control" name="trainer" required>
                                <option value="{{course.trainer.id}}">{{course.trainer.user.first_name}}</option>
                                {% for t in trainers %}
                                <option value="{{t.id}}">{{t.user.first_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group my-3 col-xl-4 col-lg-4 col-md-6 col-12">
                            <label>Category</label>
                            <select class="form-control" name="category" required>
                                <option value="{{course.category.id}}">{{course.category.name}}</option>
                                {% for c in category %}
                                <option value="{{c.id}}">{{c.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group my-3 col-xl-4 col-lg-4 col-md-6 col-12">
                            <label>Status</label>
                            <select class="form-control" name="status" required>
                                <option value="{{course.status}}">{{course.status}}</option>
                                {% for key,value in status_options %}
                                <option value="{{key}}">{{value}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group my-3 col-12">
                            <label for="exampleFormControlTextarea1">Course Details</label>
                            <textarea class="form-control" rows="3" name="description" required>{{course.description}}
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="add-product__control col-12 order-3 my-3 text-right">
                    <button type="submit" class="btn bg-main text-white mr-3">
                        Save
                    </button>
                    <a class="btn mr-3" href="{% url 'adminapp:courses' %}">
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        const preview = document.getElementById('preview');
        const file_input = document.getElementsByName('featured-img')[0].addEventListener('change', function (e) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
            }
            reader.readAsDataURL(this.files[0]);
        });
    });

</script>
{% endblock %}