<div>
    <div id="node"></div>
    <div id="editor"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/editorjs-html@3.0.3/build/edjsHTML.browser.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/raw"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script>
<script>
    const editor = new EditorJS({
            autofocus: true,
            holder: 'editor',
            tools: {
                header: {
                    class: Header,
                },
                linkTool: {
                    class: LinkTool,
                    config: {
                        endpoint: "https://source.unsplash.com/random"
                    }
                },
                list: {
                    class: List,
                    inlineToolBar: true
                }
                ,embed: {
                    class: Embed,
                    config: {
                        services: {
                            youtube: true
                        }
                    }
                }, 
                image: {
                    class: SimpleImage
                },
                quote: Quote
            },
        });
</script>