{% extends 'adminapp/dashboard.html' %} {% load static %} {% block dashboard %}

<div class="container-fluid p-4">
    <!-- <label for="" class="header-title">COURSES</label> -->
    <div class="page-card mt-3">
        <div class="page-card__header border-bottom pb-2 d-flex flex-wrap align-items-center justify-content-between">
            <label for="" class="page-card__title mb-3 mb-sm-0">Order List</label>
            <a href="{% url 'adminapp:createpayment' %}"><button class="btn btn-danger">Add Order</button></a>
        </div>
        <table class="uk-table" id="order_table">
            <caption></caption>
            <thead>
                <tr>
                    <th class="uk-text-bold">Sl No</th>
                    <th class="uk-text-bold">Client Name</th>
                    <th class="uk-text-bold">Course Title</th>
                    <th class="uk-text-bold">Phone</th>
                    <th class="uk-text-bold">Email</th>
                    <th class="uk-text-bold">Status</th>
                    <th class="uk-text-bold">Remarks</th>
                    <th class="uk-text-bold">Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{order.client_name}}</td>
                    <td>{{order.course.name}}</td>
                    <td>{{order.phone}}</td>
                    <td>{{order.email}}</td>
                    <td>{{order.status}}</td>
                    <td>{{order.remarks}}</td>
                    <td><a href="{% url 'app:checkout' order.uuid %}" target="_blank">
                            <i class="far fa-edit text-info pointer"></i>
                        </a></td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- 
        <div class="ci-table">
            <div class="ci-table__header border-bottom">
                <div class="col px-0">
                    <label for="" class="ci-table__header--title">Sl No</label>
                </div>
                <div class="col-11 d-flex">

                    <div class="col px-0">
                        <label for="" class="ci-table__header--title">Client Name</label>
                    </div>
                    <div class="col px-0">
                        <label for="" class="ci-table__header--title">Course Title</label>
                    </div>
                    <div class="col px-0">
                        <label for="" class="ci-table__header--title">Phone</label>
                    </div>
                    <div class="col px-0">
                        <label for="" class="ci-table__header--title">Email</label>
                    </div>
                    <div class="col px-0">
                        <label for="" class="ci-table__header--title">Status</label>
                    </div>
                    <div class="col px-0 text-center">
                        <label for="" class="ci-table__header--title">Remarks</label>
                    </div>
                    <div class="col px-0 text-center">
                        <label for="" class="ci-table__header--title">Actions</label>
                    </div>
                </div>
            </div>

        {% for order in orders %}

        <div class="ci-table__body border-bottom flex-wrap">
            <div class="col-md px-0">
                <label for="" class="ci-table__body--title">
                    <span class="d-md-none d-inline-block mr-4">Sl No</span>{{order.id}}</label>
            </div>
            <div class="col-md-11 d-flex flex-wrap px-0 px-md-3">

                <div class="col-md px-0">
                    <label for="" class="ci-table__body--title"><span class="d-md-none d-inline-block mr-3">Client
                            Name:</span>{{order.client_name}}</label>
                </div>
                <div class="col-md px-0">
                    <label for="" class="ci-table__body--title"><span class="d-md-none d-inline-block mr-3">Course
                            Title:</span>{{order.course.name}}</label>
                </div>
                <div class="col-md px-0">
                    <label for="" class="ci-table__body--title"><span
                            class="d-md-none d-inline-block mr-3">Phone:</span>{{order.phone}}</label>
                </div>
                <div class="col-md px-0">
                    <label for="" class="ci-table__body--title"><span
                            class="d-md-none d-inline-block mr-3">Email:</span>{{order.email}}</label>
                </div>

                <div class="col-md px-0">
                    <label for="" class="ci-table__body--title"><span
                            class="d-md-none d-inline-block mr-3">Status:</span>{{order.status}}</label>
                </div>

                <div class="col-md px-0">
                    <label for="" class="ci-table__body--title"><span
                            class="d-md-none d-inline-block mr-3">Remarks:</span>{{order.remarks}}</label>
                </div>
                <div class="col-md px-0 text-md-center">
                    <span class="d-md-none d-inline-block mr-4">Action</span>
                    <a href="{% url 'app:checkout' order.uuid %}" target="_blank">
                        <i class="far fa-edit text-info pointer"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %} -->

        <!--  ends -->
    </div>
</div>
</div>
{% block script %}
<script>
    $(document).ready(function () {
        $('#order_table').DataTable();
    });
</script>
{% endblock script %}

{% endblock %}