{% extends 'adminapp/dashboard.html' %} {% load static %}
{% load custom_tags %} {% block dashboard %}

<div class="container-fluid p-4">
    <label for="" class="header-title">Videos</label>
    <div class="page-card mt-3">
        <div class="page-card__header border-bottom pb-2 d-flex flex-wrap align-items-center justify-content-between">
            <label for="" class="page-card__title mb-3 mb-sm-0">Order List</label>
            <a href="{% url 'adminapp:addvideos' %}"><button class="btn btn-danger">Add Video</button></a>
        </div>
        <table class="uk-table" id="video_table">
            <caption></caption>
            <thead>
                <tr>
                    <th class="uk-text-bold">Sl No</th>
                    <th class="uk-text-bold">Video Name</th>
                    <th class="uk-text-bold">URL</th>
                    <th class="uk-text-bold">Status</th>
                    <th class="uk-text-bold">Uploaded At</th>
                    <th class="uk-text-bold">Actions</th>


                </tr>
            </thead>

            <tbody>
                {% for video in video_files %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{video.name}}</td>
                    <td>{% spilt_signature video.file.url %}</td>
                    <td>{{video.is_active}}</td>
                    <td>{{video.uploaded_at}}</td>
                    <td><a href="{% url 'adminapp:videodetail' video.id %}" target="_blank">
                            <i class="far fa-edit text-info pointer"></i>
                        </a></td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!--  ends -->
    </div>
</div>
</div>
{% block script %}
<script>
    $(document).ready(function () {
        $('#video_table').DataTable();
    });
</script>
{% endblock script %}

{% endblock %}