{% extends 'adminapp/dashboard.html' %}
{% load static %}
{% load custom_tags %}
{% block dashboard %}

<div class="container-fluid p-4">
    <div class="page-card mt-3">
        <div class="page-card__header border-bottom pb-2 d-flex flex-wrap align-items-center justify-content-between">
            <label for="" class="page-card__title mb-3 mb-sm-0">Add Videos</label>
        </div>
        <!-- {% if video %} -->
        <div class="uk-grid" style="padding: 20px;">
            <div class="col-6">
                <video src="{% spilt_signature video.file.url %}" controls playsinline uk-video="autoplay:inview">

                </video>
            </div>
            <div class="col-6">
                <div>
                    <h4>{{video.name}}</h4>
                </div>
                <div>
                    <span class="border-0 w-100 text-primary small" id="link">
                        {% spilt_signature video.file.url %}</span>
                    <button class="btn btn-success text-dark" id="copy-btn">Copy</button>
                </div>
            </div>
        </div>

        <!-- {% endif %} -->
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const linkText = document.getElementById('link');
        const btn = document.getElementById('copy-btn').addEventListener('click', function () {
            var input = document.createElement('input');
            input.value = linkText.innerText;
            document.body.appendChild(input);
            input.select();
            document.execCommand('copy');
            this.classList.remove('text-dark');
            this.classList.add('btn-success', 'text-light');
            this.innerText = 'copied!'
            setTimeout(() => {
                this.innerText = 'copy'
                this.classList.remove('btn-success', 'text-light');
            }, 2000);
        });
    });
</script>


{% endblock %}