.show-pass {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 15px;
  height: auto;
  cursor: pointer;
}

.hide {
  display: none;
}

.course__img {
  position: absolute;
  left: 0px;
  z-index: 9;
  top: 20px;
  pointer-events: none;
}
.show-pass {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 15px;
  height: auto;
  cursor: pointer;
  /* src: url("/static/assets/eye-off.svg"); */
}
.hide-pass {
  /* src: url("/static/assets/eye.svg"); */
}

.hide {
  display: none;
}

.module__container {
  height: 150px;
  width: 100%;
  overflow-y: scroll;
  padding: 10px 0px;
  padding-top: 15px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.module__container::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.module__container::-webkit-scrollbar-track {
  background: #f5f5f5;
  display: none;
}

/* Handle */
.module__container::-webkit-scrollbar-thumb {
  background: #c66de6;
  border-radius: 10px;
}

/* Handle on hover */
.module__container::-webkit-scrollbar-thumb:hover {
  background: #d81d30;
}
.sp {
  width: 20px;
  height: 20px;
  clear: both;
  margin: 5px auto;
}

/* Spinner Circle Rotation */
.sp-circle {
  border: 3px #ffffff36 solid;
  border-top: 3px #fff solid;
  border-radius: 50%;
  -webkit-animation: spCircRot 0.6s infinite linear;
  animation: spCircRot 0.6s infinite linear;
}
@keyframes spCircRot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.area-code {
  max-width: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.course-card_title {
  height: 81px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wallet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 100%;
  margin: 0px 40px;
  margin-right: 5px;
}

.wallet__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 100px;
  padding: 0px 10px;
}

.wallet__item label {
  font-size: 12px;
  margin-bottom: 5px;
}

.wallet__item .form-control {
  width: 80px;
  font-size: 12px;
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .header-offset {
    height: 145px !important;
  }
}
@media (max-width: 768px) {
  .header-offset {
    height: auto !important;
    margin-top: 60px;
  }
}
@media (max-width: 500px) {
  .wallet {
    margin: 10px 5px;
  }
}

.cart__count {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  border-radius: 50%;
  color: #fff;
  overflow: hidden;
}
.social-share {
  padding: 10px !important;
  min-width: max-content !important;
}
.uk-icon-button.text-fb {
  color: #4267b2;
}
.uk-icon-button.text-whatsapp {
  color: #25d366;
}
.uk-icon-button.text-linkedin {
  color: #0072b1;
}

svg.loader {
  width: 100px;
  height: 86px;
  margin: -27px 0;
  display: inline-block;
}
