/* 
    Structure is made by Arun Abraham
    please keep this structure to get organised
    Table of content
    ----------------
    | 
    |  * 1-variables
    |  -------------
    |  |
    |  | * _color.scss ("holds all color variables edit here to change color")
    |  | * _size.scss ("holds all size variables edit here to change size")
    |  *
    |  |
    |  * 2-modules
    |  -----------
    |  |
    |  | * _fonts.scss ("holds all font related stylings and imports")
    |  | * _functions.scss ("holds all rule sets")
    |  | * _mixins.scss ("holds all reusable mixins")
    |  *
    |  |
    |  * 3-utilities
    |  -------------
    |  |
    |  | * _resets.scss("reseting all default browser styles etc..")
    |  | * _theme.scss("holds the bg,text,border,color,shadow,gradients,etc..")
    |  | * _layout.scss("layout setting")
    |  *
    |  |
    |  * 4-components
    |  --------------
    |  |
    |  | * _button.scss("holds all button styles")
    |  | * _cards.scss("holds all cards style")
    |  | * _form.scss("holds all forms styles")
    |  | * _modal.scss("holds all modal related styles")
    |  | * _tables.scss("holds all table related styles")
    |  | * _top-bar.scss("holds the top-bar styling")
    |  | * _side-bar.scss("holds the side-bar styling")
    |  | * _footer.scss("holds the footer styling")
    |  *
    |  |
    |  * 5-pages
    |  --------------
    |  |
    |  | * _index.scss("holds the bg,text,border,etc..")
    |  *
    |  |
    |  * 6-responsive
    |  --------------
    |  |
    |  | * _responsive.scss("responsive media query")
    |  *
    |  |
    |  * 7-vendor
    |  --------------
    |  |
    |  |  * vendor-1
    |  |  --------------
    |  |  |
    |  |  |  * _vendor-1.1.scss("3rd party css libraries")
    |  |  |  * _vendor-1.2.scss("3rd party css libraries")
    |  |  |  
    |  |  * vendor-2
    |  |  --------------
    |  |  |
    |  |  |  * _vendor-2.1.scss("3rd party css libraries")
    |  |  |  * _vendor-2.2.scss("3rd party css libraries")
    |  |  |
    |  |  * - 
    |  * -
    * -  


    
    */
/*  1-variables  */
/*  2-modules  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: 'Poppins', sans-serif !important;
}

/*  3-utilities  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  overflow-wrap: anywhere;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.text-main {
  color: #C3001F;
}

.header-offset {
  height: 80px;
}

.text-decoration-none {
  text-decoration: none !important;
}

.form-control {
  font-size: 12px;
}

.pointer {
  cursor: pointer;
}

.drop-down {
  background: white;
  border-radius: 50%;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 5px #dedede;
          box-shadow: 0px 0px 5px #dedede;
}

.overlay-black {
  background-color: rgba(0, 0, 0, 0.333);
  position: absolute;
  z-index: 999999;
  top: 0;
  left: 0;
}

/*  4-components  */
.btn-main {
  color: #fff;
  background-color: #C3001F;
  border-color: #C3001F;
}

.btn-main:hover, .btn-main:active, .btn-main:focus, .btn-main:focus-within {
  background-color: #900017;
  color: #fff;
}

.btn-secondary {
  color: #6F6F73;
  background-color: #CFCFCF !important;
  border-color: #6F6F73 !important;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus, .btn-secondary:focus-within {
  background-color: #b6b6b6 !important;
  color: #ffffff;
}

.otp-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 14px;
  height: 100%;
}

.resend {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border: none !important;
  background-color: rgba(255, 255, 255, 0);
  outline: none !important;
  color: #fff;
}

.share-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px #f7f7f7;
          box-shadow: 0px 0px 5px #f7f7f7;
  color: #C2001E;
  outline: none !important;
}

.share-btn:hover {
  -webkit-box-shadow: 0px 0px 5px #e4e4e4;
          box-shadow: 0px 0px 5px #e4e4e4;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  /* Rounded sliders */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #C3001F;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + .slider {
  background-color: green;
}

.switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px green;
          box-shadow: 0 0 1px green;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  transform: translateX(26px);
}

.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}

.course-card {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 6px #c4c4c4;
          box-shadow: 0px 0px 6px #c4c4c4;
  background: #000;
  width: 100%;
}

.course-card__img {
  border-radius: 8px;
  width: 100%;
}

.course-card__info {
  position: absolute;
  bottom: 0;
  left: 15px;
  width: calc(100% - 30px);
  height: 90px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.503);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  color: #fff;
  padding: 10px;
}

.course-card__info--title {
  font-size: 14px;
  margin-bottom: 6px;
}

.course-card__info--details {
  font-size: 12px;
  text-overflow: hidden;
  height: 49px;
}

.page-card {
  width: 100%;
  border-radius: 10px;
  padding: 15px 20px;
  background: #fff;
  -webkit-box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05);
          box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05);
}

.page-card__title {
  font-size: 18px;
  margin-bottom: 0;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 24px;
}

.ci-table__header, .ci-table__body {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.ci-table__header--title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0;
}

.ci-table__body:last-child {
  border: none !important;
}

.ci-table__body--title {
  margin-bottom: 0;
  padding: 5px 0px;
}

.footer {
  min-height: 150px;
  background-color: #EEF1FE;
}

.footer__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__details img {
  height: 65px;
}

.footer__details--info {
  max-width: 300px;
  color: #6F6F73;
  font-size: 14px;
  line-height: 25px;
}

.usefull-links .nav-link {
  color: #110D3C;
  font-weight: 500;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyright a {
  color: #110D3C;
}

.copyright a, .copyright label {
  font-size: 14px;
}

.copyright col {
  max-width: -webkit-fit-content !important;
  max-width: -moz-fit-content !important;
  max-width: fit-content !important;
}

.footer {
  background: #040404;
  width: 100%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__link {
  font-size: 14px;
  margin-bottom: 0;
}

.footer-credits {
  width: 100%;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-credits label {
  font-size: 12px;
}

.logo-footer {
  width: 120px;
}

.footer-info {
  display: block;
  font-size: 12px;
  color: #fff;
  line-height: 16px;
  margin-bottom: 8px;
}

.footer-icon {
  max-width: 20px;
  height: 10px;
  padding-right: 5px;
  margin-right: 5px;
  color: #fff;
}

.colomn-3 {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: end;
}

.footer-top {
  background-color: #C3001F;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.footer-1 {
  background-color: #292929;
}

.copyright-1 {
  font-size: 12px;
  text-align: center;
  color: #9B9B9B;
  border-top: 1px solid #404040;
  padding: 10px 0px;
  padding-bottom: 0;
}

.btn-send {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 90%;
  right: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-input {
  max-width: 200px;
}

.subscribe-input .form-control {
  font-size: 12px;
  outline: none;
  border-color: #c4c4c4;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #292929;
}

.newsletter {
  font-size: 12px;
}

@media (max-width: 1100px) {
  .footer .container {
    max-width: 100%;
  }
  .colomn-3 {
    margin: auto;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .copyright-1 {
    font-size: 10px;
  }
}

@media (max-width: 576px) {
  .footer-info {
    margin: auto;
    display: block;
    min-width: 100%;
  }
}

.header {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #C2001E;
  position: fixed;
  top: 0px;
  z-index: 99;
}

.header__logo {
  padding-right: 15px;
  background: #fff;
}

.header__logo img {
  max-width: 170px;
}

.header__menu {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.header a {
  color: #ffffff;
  font-weight: 500;
}

.menu-bar {
  min-height: 20px;
  padding: 15px;
}

.menu-bar a {
  color: #000;
}

.menu-bar .nav-link {
  padding: 0;
}

.menu-bar .nav-link.active {
  border-bottom: 1px solid #C3001F;
}

.spinner {
  -webkit-animation: rotator 1.2s linear infinite;
          animation: rotator 1.2s linear infinite;
  width: 50px;
  height: 50px;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(260deg);
            transform: rotate(260deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(260deg);
            transform: rotate(260deg);
  }
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  stroke: #DE3E35;
  -webkit-animation: dash 1.2s ease-in-out infinite;
          animation: dash 1.2s ease-in-out infinite;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

/*  5-pages  */
.hero-section {
  min-height: calc(100vh - 97px);
  background-attachment: fixed;
  background-image: url("../assets/Group 103.png");
  background-position: center bottom;
  background-size: 70%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 100px 0px;
  background-color: #CFCFCF;
}

.hero-details {
  max-width: 600px;
}

.hero-details__title {
  color: #110D3C;
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 20px;
  line-height: 30px;
}

.hero-details__subtitle {
  color: #6F6F73;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 15px;
}

.signlog-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100vh;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signlog {
  min-height: 400px;
  max-width: 550px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.285);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.285);
  background-color: #fff;
  margin: 0px auto;
  padding: 30px 80px;
}

.signlog__title {
  font-size: 30px;
  font-weight: 500;
}

.signlog__forgotpass, .signlog .form-check-label {
  color: #000 !important;
  font-size: 14px;
  text-decoration: none !important;
}

.signlog__moreoption {
  font-size: 14px;
}

.course__img {
  border-radius: 8px;
  margin-bottom: 20px;
}

.course__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.course__lesson {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course__lesson--title {
  font-size: 16px;
  font-weight: 500;
  padding: 5px 0px;
}

.shadow-down {
  -webkit-box-shadow: 0px 1px 8px #f7f7f7;
          box-shadow: 0px 1px 8px #f7f7f7;
}

.course-header {
  -webkit-box-shadow: 0px 1px 8px #f7f7f7;
          box-shadow: 0px 1px 8px #f7f7f7;
}

.course-header__title {
  font-weight: 600;
}

.progress-share {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.share, .course-progress {
  padding: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course-progress {
  width: 140px;
}

.course-progress__title {
  margin-bottom: 10px;
  font-size: 14px;
}

.course-progress__bar {
  width: 105px;
  height: 6px;
  border-radius: 10px;
  background: #f9f9f9;
  position: relative;
}

.course-progress__info {
  position: absolute;
  width: 40px;
  top: 0px;
  left: 0px;
  height: 6px;
  border-radius: 10px;
  background: #C2001E;
}

.course-content .nav-tabs .nav-link.active {
  border: none;
  background-color: #fff0;
  color: #C2001E;
  font-weight: 600;
}

.course-content .nav-tabs .nav-link {
  padding: 20px 40px;
  padding-right: 0px;
  color: #c4c4c4;
  border: none !important;
}

.course-board {
  min-height: 250px;
  /* max-height: 400px; */
  background-color: #FDFDFD;
  padding: 50px 100px;
  overflow-y: scroll;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.course-board p {
  font-size: 14px;
  line-height: 18px;
}

.course-board::-webkit-scrollbar {
  width: 10px;
}

.course-board::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.course-board::-webkit-scrollbar-thumb {
  background: #C2001E;
}

.course-board::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.course__enroll {
  padding: 100px 0px;
}

.course__enroll--name {
  font-size: 26px;
  font-weight: 600;
  display: block;
  margin-bottom: 15px;
}

.course__enroll--author {
  font-size: 16px;
  font-weight: 500;
}

.course__enroll--author span {
  margin-right: 10px;
}

.course__detail {
  padding: 20px;
  background: #FCFCFC;
  border: 1px solid #F1F1F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 4px;
  margin-bottom: 20px;
}

.course__detail--title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  display: block;
  width: 100%;
}

.course__detail--item {
  font-size: 14px;
  position: relative;
  padding-left: 20px;
  width: 50%;
  margin-bottom: 15px;
}

.course__detail--item::before {
  content: '';
  position: absolute;
  left: 0px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #C3001F;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.check-price__details {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 8px #e4e4e4;
          box-shadow: 0px 0px 8px #e4e4e4;
}

.text__checkout {
  font-size: 16px;
}

.course-order {
  padding: 10px 0px;
}

.course-order__tumbnail {
  width: 50px;
  margin-bottom: 0;
}

.course-order__title {
  font-size: 16px;
}

/*  6-responsive  */
@media (min-width: 550px) {
  .signlog {
    min-width: 500px;
  }
}

@media (max-width: 992px) {
  .hero-section {
    background-position: right bottom;
  }
  .sm-order-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (min-width: 790px) {
  .course-structure.on-mobile {
    display: none;
  }
}

@media (max-width: 790px) {
  .course-structure.on-desktop {
    display: none;
  }
}

@media (max-width: 768px) {
  .hero-section {
    background-image: inherit;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  .progress-share {
    margin-top: 25px;
    min-width: 100%;
  }
  .course-progress {
    padding: 0;
  }
  .course__enroll {
    padding: 60px 0px;
  }
}

@media (max-width: 600px) {
  .header__logo img {
    max-width: 115px;
  }
  .header-offset {
    height: 76px;
  }
  .course-board {
    padding: 20px;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    overflow-y: inherit;
  }
}

@media (max-width: 500px) {
  .hero-details {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    padding: 35px;
  }
}

@media (max-width: 550px) {
  .footer__details .col-lg-8 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__details .usefull-links .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .signlog {
    min-width: 90%;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0px;
    top: 0px;
  }
  .signlog__title {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .menu-bar .container {
    max-width: 100%;
    padding: 0;
  }
  .menu-bar .nav-link {
    font-size: 13px;
  }
  .hero-section {
    padding: 20px 0px;
  }
  .hero-details__title {
    font-size: 18px;
  }
  .hero-details__subtitle {
    font-size: 16px;
  }
  .course-progress {
    width: 100px;
  }
}

@media (max-width: 360px) {
  .hero-details {
    padding: 0 10px;
  }
  .header .container {
    padding: 0;
  }
}

/*  7-vendor  */
/*# sourceMappingURL=main.css.map */