{% extends "main.html" %}
{% load static %}
{% block main %}
<div x-data="App()" x-show="isLoading" x-on:load.window="isLoading = $event.detail.isLoading">
    <div id="loader"
        class="container-fluid vh-100 w-100 d-flex align-items-center justify-content-center overlay-black">
        <svg class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
</div>



<div x-data="App()" x-init="init()" class="container-fluid p-md-4">
    <div class="container py-5 px-md-3 px-0">
        <div class="row">
            <div class="col-md">

                <label for="" class="page-card__title mb-2">Order details</label>
                <div class="d-flex flex-wrap align-items-center justify-content-between course-order">
                    <img src="{{course.course_thumbnail.url}}" width="100" height="80" class="course-order__tumbnail"
                        alt="">
                    <label class="course-order__title col " for="">{{course.name}}</label>
                    <span class="course-order__price">
                        <span>{{payment.offer_price}}</span>
                        <br>
                        <span class="text-secondary"><del>

                                {{course.price}}

                            </del></span>
                    </span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="check-price__details">
                    <label for="" class="page-card__title mb-sm-0">Summary</label>

                    <div class="d-flex flex-wrap justify-content-between w-100 py-2 mt-3">
                        <span class="text__checkout">Original Price</span>
                        <span class="text__checkout">{{course.price}}</span>
                    </div>
                    <div class="d-flex flex-wrap justify-content-between w-100 pt-2">
                        <span class="text__checkout"> Discount</span>
                        <span class="text__checkout">
                            {% if discount %}
                            {{discount}}
                            {% else %}
                            {{course.offer_price}}
                            {% endif %}
                        </span>
                    </div>
                    <hr class="mb-2">
                    <div class="d-flex flex-wrap justify-content-between w-100 pt-1">
                        <span class="font-weight-bold text__checkout">Total</span>
                        <span class="text__checkout">
                            {{total}}
                        </span>
                    </div>
                    <div class="d-flex flex-wrap justify-content-between w-100 pt-1">
                        <!-- <p class="text__checkout mt-3">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam sapiente delectus
                            assumenda.
                        </p> -->
                        <p class="text__checkout py-3">
                            by purchasing you agreeing our <span class="font-weight-normal text-info">Terms &
                                service</span>
                        </p>
                    </div>
                    <button x-on:click="makeCheckout(event);" id=checkout-btn class="btn btn-main w-100">Complete
                        Payment</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% csrf_token %}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    function App() {
        return {
            isLoading: false,
            currency: "",
            makeCheckout(e) {
                e.preventDefault();
                createLoadEvent(true);
                var paymentData = postData((this.currency));
                paymentData.then(res => res.json()).then(data => {
                    const payment = data.payment;
                    createLoadEvent(false);
                    var options = {
                        "key": payment.rzp_key,
                        "amount": payment.amount,
                        "currency": payment.currency,
                        "name": "School Of Resources",
                        "description": "Test Transaction",
                        "image": "https://schoolofresources.com/static/assets/logo_1589698236logo%20(1).png",
                        "order_id": payment.id,
                        "handler": function (res) {
                            const share_link = '{{share_link}}'
                            const url = "/payment-success-no-auth";
                            const payload = new FormData();
                            if (share_link !== '') {
                                payload.append('share_link', share_link);
                            }
                            payload.append('course_id', '{{course.uid}}')
                            payload.append('payment_id', res.razorpay_payment_id);
                            payload.append('order_id', res.razorpay_order_id);
                            payload.append('signature', res.razorpay_signature);
                            payload.append('csrfmiddlewaretoken', '{{csrf_token}}')
                            payload.append('order', '{{payment.id}}')
                            fetch(url, {
                                method: 'POST',
                                body: payload
                            }).then(res => res.json()).then(data => {
                                const url = data.redirect_url;
                                window.location.replace(url);
                                // window.location.reload();
                            });
                        },
                        "prefill": {
                            "name": "{{payment.client_name}}" || "",
                            "email": "{{payment.email}}" || "",
                            "contact": "{{payment.phone}}" || ""
                        },
                        "notes": {
                            "address": ""
                        }, "theme": { "color": "#F37254" }
                    };
                    var rzp1 = new Razorpay(options);
                    rzp1.open();
                });
            },
            init() {
                var xhr = new XMLHttpRequest();
                xhr.open('GET', "https://freegeoip.app/json/", true);
                xhr.send();
                xhr.onreadystatechange = () => {
                    if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                        const location = JSON.parse(xhr.response);
                        const country = getCountries(location.country_code);
                        country.then(res => res.json()).then(data => {
                            try {
                                const code = data.currencies[0]['code'];
                                if (code === "") {
                                    const currency = "INR";
                                    this.currency = currency;
                                }
                                this.currency = code;
                            } catch (error) {
                                if (error instanceof TypeError) {
                                    const currency = "INR";
                                    this.currency = currency;
                                }
                            }
                        });
                    }
                }
            }
        }
    }

    function createLoadEvent(isLoading) {
        const event = new CustomEvent('load', {
            detail: {
                isLoading: isLoading
            }
        });
        window.dispatchEvent(event);
    }

    async function postData(currency) {
        url = "";
        const payload = new FormData();
        payload.append('csrfmiddlewaretoken', '{{csrf_token}}');
        payload.append('currency', currency);

        const response = await fetch(url, {
            method: 'POST',
            body: payload,
        });
        return response;

    }
    async function getCountries(code) {
        const url = `https://restcountries.eu/rest/v2/alpha/${code}`;
        const res = await fetch(url);
        return res;
    }
    async function getGeoLoation() {
        const url = "https://freegeoip.app/json/";
        const res = await fetch(url, {
            method: 'GET',
            mode: 'cors',
            headers: { "content-type": "application/json", "accept": "application/json", "Access-Control-Allow-Origin": "*" },
        })
        return res;
    };
</script>
{% endblock %}