{% extends 'main.html' %} {% block main %}

<div class="container-fluid border-bottom">
    <div class="container">
        <div class="course__enroll">
            <label for="" class="course__enroll--name">{{course.name}}</label>
            <label for="" class="mb-0 course__enroll--author"><span class="text-main">Author
                    :</span>{{course.trainer.user.full_name }}</label>
            <h3>Rs. <span style="text-decoration: line-through; font-size:small;">{{course.price}}</span>
            </h3>
            {% if is_enrolled == True %}
            <a href="{% url 'courses:continue' en.uid %}">
                <button class="btn btn-main d-block mt-4">Go to course</button>
            </a>
            {% elif has_share_link == True and is_enrolled == False %}
            <a href="{% url 'courses:checkout' id=course.uid share_link=share_link %}">
                <button class="btn btn-main d-block mt-4" id="enroll-btn">Enroll Now</button>
            </a>
            {% elif is_enrolled == False %}
            <a href="{% url 'courses:checkout' course.uid %}">
                <button class="btn btn-main d-block mt-4" id="enroll-btn">Enroll Now</button>
            </a>
            {% elif has_share_link == True and is_enrolled == True %}
            <a href="{% url 'courses:continue' en.uid %}">
                <button class="btn btn-main d-block mt-4" id="enroll-btn">Go to course</button>
            </a>
            {% endif %}
        </div>
    </div>
</div>

<div class="container-fluid py-4">
    <div class="container pb-5">
        <div class="d-flex flex-wrap">
            <div class="course-structure on-mobile col-12 px-0 mb-4">
                <div class="container-fluid border-bottom py-4">
                    <label class="course-header__title mb-0">Course Content</label>
                </div>
                <div class="container-fluid px-0">
                    <div id="accordion">
                        {% for c in c.modules.all %}
                        <div class="card">
                            <div class="card-header pointer" id="headingOne" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h5 class="mb-0 w-100 d-flex align-items-center justify-content-between">
                                    <span>
                                        {{c.title}}
                                    </span>
                                    <span class="drop-down" uk-icon="chevron-down"></span>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                {% for s in m.sections %}
                                <div class="d-flex w-100 border-bottom p-3 align-items-center justify-content-between">
                                    <div class="form-check">
                                        <!-- <input type="checkbox" class="form-check-input" id="exampleCheck1"> -->
                                        <label class="form-check-label small mb-0 text main" for="exampleCheck1">1.
                                            {{s.title}}</label>
                                    </div>
                                    <span class="drop-down" uk-icon="play-circle"></span>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col px-0">
                <div class="course__detail">
                    <label class="course__detail--title">What you'll Learn</label>
                    {% for m in course.modules.all %}
                    <label for="" class="course__detail--item">{{m.title}}</label>
                    {% endfor %}
                </div>

                <h2 class="mb-3">Overview</h2>
                <p class="mb-3">
                    {{course.description}}
                </p>
            </div>
            <div class="course-structure col-5 pl-5 on-desktop px-0">
                <div class="container-fluid pb-3">
                    <label class="course-header__title mb-0">Course Content</label>
                </div>
                <div class="container-fluid px-0">
                    <div id="accordion">
                        {% for m in course.modules.all %}
                        <div class="card">
                            <div class="card-header pointer" id="headingOne" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h5 class="mb-0 w-100 d-flex align-items-center justify-content-between">
                                    <span>
                                        {{m.title}}
                                    </span>
                                    <span class="drop-down" uk-icon="chevron-down"></span>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                {% for s in m.sections.all %}
                                <div class="d-flex w-100 border-bottom p-3 align-items-center justify-content-between">
                                    <div class="form-check">
                                        <!-- <input type="checkbox" class="form-check-input" id="exampleCheck1"> -->
                                        <label class="form-check-label small mb-0 text-main" for="exampleCheck1">
                                            {{forloop.counter}}.
                                            {{s.title}} <span class="text-secondary ml-1 small">(5 min.)</span></label>
                                    </div>
                                    <span class="mr-2" uk-icon="play-circle"></span>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% csrf_token %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const xhr = new XMLHttpRequest();
        const response = getGeoLoation();
        response.then(res => res.json()).then(data => {
            const country = getCountry(data.country_code);
            country.then(res => res.json()).then(data => {
                const currency = data.currencies[0]['code'];
                const btn = document.getElementById('enroll-btn');
                // if (btn !== null) addEventListener('click', enrollCourse(currency));
            })
        })
    });

    function enrollCourse(currency) {
        const payload = new FormData();
        payload.append('course_id', "{{course.id}}");
        payload.append("csrfmiddlewaretoken", "{{csrf_token}}");
        payload.append('currency', currency)
        var xhr = new XMLHttpRequest();
        xhr.open('POST', "/courses/checkout/", true);
        xhr.send(payload);
        // xhr.onreadystatechange = function(){
        //     if(this.readyState === XMLHttpRequest.DONE && this.status === 201){
        //         const response = JSON.parse(this.response)
        //         window.location.replace(`/courses/course/${response['enrollment_id']}/`)
        //     }
        // }
    }
    async function getCountry(code) {
        const url = `https://restcountries.eu/rest/v2/alpha/${code}`;
        const res = await fetch(url);
        return res;
    }
    async function getGeoLoation() {
        const url = "https://freegeoip.app/json/";
        const res = await fetch(url, {
            method: 'GET',
            mode: 'cors',
            cache: 'no-cache',
            credentials: 'same-origin',
            headers: { "content-type": "application/json", "accept": "application/json" },
            referrerPolicy: 'no-referrer'
        })
        return res;
    };
</script>

{% endblock main %}