{% extends 'main.html' %} {% load static %}
{% load custom_tags %}
{% block main %}

<div class="container py-5">
    <div class="row course">
        <div class="col-md-7">
            <img class="course__img" src="{% static 'assets/course-tumb.png' %}" alt="">
            <label for="" class="course__title">
                Digital marketing
            </label>
            <p class="course__detail">
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim
                ad minim veniam, quis. nostrud exercitation ullamco laboris nisi ut aliquip ex eact. commodo
                consequat.
            </p>
        </div>
        <div class="col-md mt-md-0 mt-4">
            <label for="" class="course__title">
                Lessons
            </label>

            <div class="course__lesson">
                <div class="col px-0">
                    <label for="" class="course__lesson--title w-100">1. digital marketing</label>
                    <a class="small" href="https://d4UswR0Qt5Y">https://d4UswR0Qt5Y</a>
                </div>
                <button class="btn btn-main">Completed</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}