{% extends 'main.html' %} {% block main %}

<div class="container-fluid py-3 course-header">
  <div class="container-fluid pr-0">
    <div class="d-flex flex-wrap align-items-center">
      <div class="col">
        <label class="course-header__title" for="" class="m-0">
          {{course.name}}
        </label>
      </div>

      <div class="progress-share">
        <div class="course-progress">
          <label class="course-progress__title">Your progress</label>
          <div class="course-progress__bar">
            <progress class="uk-progress-danger" value="{{progress}}" max="100"></progress>
          </div>
        </div>
        <div class="share">
          <!-- <button class="btn-round share-btn mr-2">
            <span uk-icon="forward"></span>
          </button>
          <label class="share__title">Share</label> -->
        </div>
        <!-- <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Your Progress</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Share course</a>
              </li>
            </ul> -->
      </div>
    </div>
  </div>
</div>

<div class="container-fluid p-0">
  <div class="d-flex flex-wrap align-items-start">
    <div class="col course-content border-right p-0">
      <div x-data="App()" x-init="init()"
        x-on:load.window="section = $event.detail.item, isLoading = $event.detail.isLoading" class="course-board">
        <h2 x-text="section.title" class="mb-3"></h2>
        <div class="d-flex flex-wrap justify-content-between w-100 align-items-center" id="section-content">
          <template x-if="parseInt({{totalSection}}) > 0">
            <button x-on:click="loadPrevios" class="btn btn-round bg-light">
              <span uk-icon="icon: chevron-left"></span>
            </button>
          </template>

          <template x-if="isLoading">
            <span>Loading...</span>
          </template>
          <template x-if="section.content_type === 'PLAIN_TEXT' && !isLoading">
            <!-- <p x-text="section.content"></p> -->
          </template>
          <template x-if="section.content_type === 'VIDEO_LINK' && !isLoading">
            <iframe id="ytplayer" width="100%" height="600" :src="section.video_link" frameborder="0" allowfullscreen>
            </iframe>
          </template>
          <template x-if="parseInt({{totalSection}}) > 0">
            <button x-on:click="loadNext" class="btn btn-round bg-light">
              <span uk-icon="icon: chevron-right"></span>
            </button>
          </template>

        </div>
      </div>
      <div class="course-structure on-mobile col-12 px-0">
        <div class="container-fluid border-bottom py-4">
          <label class="course-header__title mb-0">Course Content</label>
        </div>
        <div class="container-fluid px-0">
          <div id="accordion">
            {% for m in enrolled_course %}
            <div class="card">
              <div class="card-header pointer" id="headingOne" data-toggle="collapse" data-target="#mv-{{m.id}}"
                aria-expanded="true" aria-controls="collapseOne">
                <h5 class="mb-0 w-100 d-flex align-items-center justify-content-between">
                  <span> {{m.title}} </span>
                  <span class="drop-down" uk-icon="chevron-down"></span>
                </h5>
              </div>

              <div id="mv-{{m.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                {% for s in m.sections %}
                <div class="d-flex w-100 border-bottom p-3 align-items-center justify-content-between"
                  x-on:click="loadSection('{{s.id}}');">
                  <div class="form-check">
                    <input type="checkbox" onchange="updateStatus(event,'{{s.id}}')" ; class="form-check-input"
                      id="exampleCheck1" checked>
                    <label class="form-check-label small mb-0 text main" for="exampleCheck1">{{ forloop.counter
                      }}.{{s.title}}</label>
                  </div>
                  {% if s.content_type == 'VIDEO_LINK' %}
                  <span class="drop-down" uk-icon="play-circle"></span>
                  {% else %}
                  <span class="drop-down" uk-icon="file-text"></span>
                  {% endif %}
                </div>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab"
            aria-controls="overview" aria-selected="true">Overview</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
            aria-selected="false">Contact</a>
        </li> -->
      </ul>
      <div class="tab-content px-5 py-3" id="myTabContent">
        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
          <!-- <h2 class="mb-3">{{last_viewed_section.title}}</h2> -->
          <p class="mb-3">{{course.description}}</p>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          ...
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          ...
        </div>
      </div>
    </div>
    <div class="course-structure on-desktop col-4 px-0">
      <div class="container-fluid border-bottom py-4">
        <label class="course-header__title mb-0">Course Content</label>
      </div>
      <div class="container-fluid px-0">
        <div id="accordion">
          {% for m in enrolled_course %}
          <div class="card">
            <div class="card-header pointer" id="headingOne" data-toggle="collapse" data-target="#dv-{{m.id}}"
              aria-expanded="true" aria-controls="collapseOne">
              <h5 class="mb-0 w-100 d-flex align-items-center justify-content-between">
                <span> {{m.title}} </span>
                <span class="drop-down" uk-icon="chevron-down"></span>
              </h5>
            </div>

            <div x-data="App()" id="dv-{{m.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              {% for s in m.sections %}
              <div x-on:click="loadSection('{{s.id}}');"
                class="d-flex w-100 border-bottom p-3 align-items-center justify-content-between">
                <div class="form-check">
                  <input onchange="updateStatus(event,'{{s.id}}');" type="checkbox" class="form-check-input"
                    id="exampleCheck1">
                  <label class="form-check-label small mb-0 text-main" for="">{{ forloop.counter }}. {{s.title}}
                    <!-- <span class="text-secondary ml-1 small">(5 min.)</span></label> -->
                </div>
                {% if s.content_type == 'VIDEO_LINK' %}
                <span class="drop-down" uk-icon="play-circle"></span>
                {% else %}
                <span class="drop-down" uk-icon="file-text"></span>
                {% endif %}
              </div>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% csrf_token %} {% autoescape off %}
<script type="text/javascript">
  function App() {
    return {
      section: {},
      isLoading: false,
      totalSection: "{{total_number_of_sections}}",
      load: function (data) {
        const event = new CustomEvent("load", {
          detail: {
            item: JSON.parse(data),
            isLoading: false,
          },
        });
        this.isLoading = false;
        window.dispatchEvent(event);
      },
      loadSection: function (id) {
        const url = "/courses/load-section/";
        const payload = new FormData();
        payload.append("section_id", id);
        payload.append("enrollment_id", "{{enrollment_id}}");
        this.is_completed = true;
        sent(url, payload, this.load);
      },
      loadNext: function () {
        const url = "/courses/load-next-section/";
        const payload = new FormData();
        payload.append("enrollment_id", "{{enrollment_id}}");
        this.isLoading = true;
        sent(url, payload, this.load);
      },
      loadPrevios: function () {
        const url = "/courses/load-previous-section/";
        const payload = new FormData();
        payload.append("enrollment_id", "{{enrollment_id}}");
        this.isLoading = true;
        sent(url, payload, this.load);
      },
      init() {
        const l_section = JSON.parse('{{last_viewed_section}}');
        const url = "/courses/load-section/";
        const payload = new FormData();
        payload.append("enrollment_id", "{{enrollment_id}}");
        payload.append("section_id", l_section.id);
        console.log(l_section)
        if (l_section != 0) {
          sent(url, payload, this.load);
        }
        else {
          const data = {
            "id": undefined,
            "title": undefined,
            "content_type": 'PLAIN_TEXT',
            "content": "Coming Soon",
            "video_link": ""
          }
        }
      },
    };
  }

  function getSectionData() {
    console.log('{{last_viewed_section}}');
  }

  function updateStatus(e, id) {
    const crsf_token = document.cookie.split("=")[1];
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/courses/update-status/", true);
    xhr.setRequestHeader("X-CSRFToken", crsf_token);
    const payload = new FormData();
    payload.append("section_id", id);
    payload.append("enrollment_id", "{{enrollment_id}}");
    xhr.send(payload);
    xhr.onreadystatechange = function () {
      if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
        const response = JSON.parse(this.response);
        if (response.is_completed === true) {
          e.target.checked = response.is_completed;
        }
      }
    };
  }

  function sent(url, payload, callback) {
    const crsf_token = document.cookie.split("=")[1];
    const xhr = new XMLHttpRequest();
    xhr.open("POST", url, true);
    xhr.setRequestHeader("X-CSRFToken", crsf_token);
    xhr.send(payload);
    xhr.onreadystatechange = function () {
      if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
        callback(this.response);
      }
    };
  }

</script>
{% endautoescape %} {% endblock main %}