{% extends 'main.html' %}

{% block main %}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">


<div class="my-5 container">
    <form>
        <input type="hidden" name="about">
            <div id="editor">
                <p>section content</p>
            </div>
        </input>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
    <br />
    
    <!-- <button class="btn btn-primary" id="btn-addtocart">
        add to cart
    </button> -->

</div>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
    var quill = new Quill('#editor', {
            theme: 'snow'
    });
    var form = document.querySelector('form');
    form.onsubmit = function(){
        event.preventDefault();
        var about = document.querySelector('input[name=about]');
        about.value = JSON.stringify(quill.getContents());
          console.log("Submitted",$(form).serializeArray());
    }
    // document.addEventListener("DOMContentLoaded", function () {
    //     const btn = document.getElementById('btn-addtocart');
        
    //     btn.onclick = function(){
    //         updateCartValue(1);
    //     }
    //     function updateCartValue(increment){
    //         const cart = document.getElementById("cart-count");
    //         const count = parseInt(cart.innerText) + increment;
    //         cart.innerText = count;
    //     }
    // });
</script>
{% endblock main %}
