{% load inlinecss %}
{% inlinecss "css/registration.css" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SchoolofResources</title>
</head>

<body>
    <div style="width: 100%; display: flex; justify-content: center; align-content: center;">
        <div>
            <div style="margin-top: 1.5rem; margin-bottom: 1.5rem;">
                <img style="width: 8rem;"
                    src="https://schoolofresources.com/static/assets/logo_1589698236logo%20(1).png" />
            </div>
            <div style="border: lightgrey solid 2px; padding: 1.5rem;">
                <div>
                    <p style="margin-top: 0.5rem; margin-bottom: 0.5rem; font-size: 1.5rem; font-weight: 100;">
                        Congratulations! Your payment was successful! Please click the link below to start your learning
                        journey. Thank you!</p>

                    <p style="margin-top: 2rem; margin-bottom: 2rem;">Payment ID:{{payment_id}}</p>
                </div>

            </div>
            <div style="display: flex; justify-content: center; margin-top: 4rem; margin-bottom: 4rem;">
                <div style="text-align: center;">
                    <div style="display: flex; justify-content: center; margin-bottom: 1.5rem; margin-top: 1.5rem;">
                        <img style="width: 5rem;"
                            src="https://schoolofresources.com/static/assets/logo_1589698236logo%20(1).png" />
                    </div>
                    <p style="font-size: 0.875rem; line-height: 1.2rem; font-weight: 100;">Send with confidenece.</p>
                    <p style="font-size:0.75rem; line-height: 1rem; font-weight: 100;">Vyttila, Kochi - 682019.</p>
                    <div
                        style="display: flex; flex-wrap: wrap; justify-content: center; color: rgb(55, 118, 212); font-weight: 100; font-size: 0.75rem; line-height: 1rem; margin-top: 1.5rem; margin-bottom: 1.5rem;">
                        <a style="margin-left: 0.5rem; margin-right: 0.5rem;">Twitter</a>
                        <a style="margin-left: 0.5rem; margin-right: 0.5rem;">Facebook</a>
                        <a style="margin-left: 0.5rem; margin-right: 0.5rem;">LinkedIn</a>
                        <a style="margin-left: 0.5rem; margin-right: 0.5rem;">Twitter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
{% endinlinecss %}