body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #AAA6A6;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

textarea {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

select {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #8E8E8E;
  opacity: 1;
}

:-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #8E8E8E;
  opacity: 1;
}

::-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #8E8E8E;
  opacity: 1;
}

::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #8E8E8E;
  opacity: 1;
}

:-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #8E8E8E;
}

::-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #8E8E8E;
}

.hero-sec {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1199px) {
  .hero-sec {
    height: 30vh;
  }
}

@media (max-width: 767px) {
  .hero-sec {
    height: auto;
    padding: 30px 0;
  }
}

.hero-sec .hero-content {
  position: relative;
}

@media (max-width: 767px) {
  .hero-sec .hero-content {
    text-align: center;
    margin-top: 20px;
  }
}

.hero-sec .hero-content .hero-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 43px;
  color: #333;
}

@media (max-width: 1199px) {
  .hero-sec .hero-content .hero-title {
    font-size: 32px;
    line-height: 35px;
  }
}

@media (max-width: 991px) {
  .hero-sec .hero-content .hero-title {
    font-size: 24px;
    line-height: 30px;
  }
}

.hero-sec .hero-content .hero-title span {
  color: #C2001E;
}

.hero-sec .hero-content .hero-sub-title {
  font-size: 22px;
  color: #AAA6A6;
  margin-top: 20px;
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  .hero-sec .hero-content .hero-sub-title {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .hero-sec .hero-content .hero-sub-title {
    margin-bottom: 20px;
  }
}

.hero-sec .hero-content .btn-style {
  color: #fff;
  background: #C2001E;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #C2001E;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

@media (max-width: 991px) {
  .hero-sec .hero-content .btn-style {
    padding: 8px 20px;
  }
}

.hero-sec .hero-content .btn-style i {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #C2001E;
  background: #fff;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.hero-sec .hero-content .btn-style:hover {
  color: #C2001E;
  border: 2px solid #C2001E;
  background: transparent;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.hero-sec .hero-content .btn-style:hover i {
  color: #fff;
  background: #C2001E;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.hero-sec .hero-img-sec {
  position: absolute;
  right: 0;
  top: 15%;
}

@media (max-width: 767px) {
  .hero-sec .hero-img-sec {
    position: relative;
  }
}

section {
  padding: 65px 0;
  position: relative;
}

@media (max-width: 991px) {
  section {
    padding: 45px 0;
  }
}

@media (max-width: 767px) {
  section {
    padding: 30px 0;
  }
}

.feature-sec {
  background: url(../assets/texture.svg);
  background-size: cover;
}

.feature-sec .features-img-sec {
  position: absolute;
  left: 0;
  bottom: 13%;
}

@media (max-width: 1199px) {
  .feature-sec .features-img-sec {
    top: 20%;
    bottom: auto;
  }
}

@media (max-width: 991px) {
  .feature-sec .features-img-sec {
    position: relative;
    text-align: center;
  }
}

.feature-sec .features-img-sec img {
  width: 90%;
}

@media (max-width: 991px) {
  .feature-sec .features-img-sec img {
    width: 70%;
    margin-bottom: 30px;
  }
}

.feature-sec .features-title {
  font-size: 30px;
  font-weight: 700;
  color: #C2001E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .feature-sec .features-title {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .feature-sec .features-title {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.feature-sec .features-title i {
  width: 35px;
  height: 35px;
  font-size: 18px;
  border-radius: 50%;
  margin-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #C2001E;
  background: #fff;
}

.feature-sec .features-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 8px;
  margin-left: 25px;
  margin-right: 0;
}

@media (max-width: 991px) {
  .feature-sec .features-list {
    margin-left: 0;
  }
}

.feature-sec .features-list:last-child {
  margin-bottom: 0;
}

.feature-sec .features-list .feature-content {
  margin-left: 20px;
}

.feature-sec .features-list .feature-content .feature-title {
  color: #333;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
}

.sec-title {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  color: #333;
  text-align: center;
  margin-bottom: 50px;
}

.sec-title::before {
  content: '';
  width: 80px;
  border-bottom: 2px solid #333;
  position: absolute;
  bottom: -10px;
  margin: auto;
  left: 0;
  right: 0;
}

.sec-title span {
  color: #C2001E;
}

.course-list {
  background: #fff;
  -webkit-box-shadow: 3px 3px 16px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 3px 3px 16px 2px rgba(0, 0, 0, 0.15);
  padding: 10px;
  margin: 15px 0;
}

.course-list .course-list-img {
  width: 100%;
  height: 235px;
  -o-object-fit: cover;
     object-fit: cover;
}

.course-list .course-title {
  font-weight: 600;
  color: #333;
  font-size: 18px;
  margin-bottom: 3px;
  margin-top: 15px;
  min-height: 46px;
}

.course-list p {
  font-size: 12px;
  line-height: 19px;
}

.course-list .btn-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 0;
}

.course-list .btn-sec a {
  text-transform: uppercase;
  color: #C2001E;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #C2001E;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.course-list .btn-sec a:hover {
  background: #C2001E;
  color: #fff;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.course-list .btn-sec a i {
  margin-left: 10px;
}
/*# sourceMappingURL=style.css.map */

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 60px;
}