.page-container{
    min-height: calc(100vh - 330px);
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 24px;
}
.page-title{
    color: #110D3C;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 20px;
    line-height: 30px;
}
.page-container p{
    margin-bottom: 20px;
}
.page-container h3{
    color: #C3001F;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 20px;
    line-height: 30px;
}
.page-container h4{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 25px;
}
.page-container a{
    /* color: #C3001F; */
}
.step-by-step{
width: 80%;
border-radius: 25px;
-webkit-box-shadow: 0px 0px 8px rgb(0 0 0 / 28%);
box-shadow: 0px 0px 8px rgb(0 0 0 / 28%);
background-color: #fff;
margin: auto;
margin-top: 50px;
padding: 30px;
}
.step-by-step h3{
    margin-bottom: 5px;
}
.step-by-step h4{
    color: #110D3C;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
    line-height: 30px;
}
.step-sec{
    margin-top: 30px;
}