{% extends 'main.html' %}
{% load static %}
{% block main %}
<!-- page content section -->
<div class="container page-container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-title">About Us</div>
            <p>At School of Resources, students are being enlightened at their fingertips! We believe that every student
                is different and has different learning needs. We work relentlessly to solve student problems using
                advanced technology and help them learn better. We have thoughtfully designed SOR to ensure that it is
                one of a kind e-learning platform. It has quality learning pieces, including adaptive practise
                questions, solutions, concepts, and videos that come together seamlessly to give the best learning
                experience. </p><br />
            <p>
                By connecting students all over the world to the best instructors, School of Resources is helping
                individuals reach
                their goals and pursue their dreams. With SOR, get unlimited access to structured courses and doubt
                clearing sessions.
                The passion for learning begins with a teacher who believes in you. Our expert faculty through online
                live classes
                provides students with an interactive and engaging experience. Students can also augment their learning
                through online
                concept videos and multiple tests.
            </p><br />
            <p>
                School of Resources is nothing but bringing the school home. You are getting the perfect schooling
                experience right at
                your home. Through revisions, mock tests, webinars etc., students can prepare thoroughly for the
                examinations. Let's
                join hands and build a future of education together with the School of Resources.  

            </p>
            <!-- <a href="#" class="btn btn-main mr-2">Explore Our Services</a> -->
        </div>
    </div>
</div>
<!-- End page content section -->
{% endblock %}