{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>School of Resources</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />

  </head>

  <body>
    {% block main %} {% endblock %}

    <script src="{% static 'js/jquery-3.5.1.slim.min.js'%}"></script>
    <script src="{% static 'js/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/uikit.min.js'%}"></script>
    <script src="{% static 'js/uikit-icons.mun.js'%}"></script>
    <script src="{% static 'js/script.js'%}"></script>
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.2/dist/alpine.min.js"
      defer
    ></script>
  </body>
</html>
