{% extends 'main.html' %}
{% load static %}
{% block main %}
    <link rel="stylesheet" href="{% static 'css/soon-page.css' %}">
    <div class="spacer__404">
        
    </div>
    <div class="content__container">
        <div class="container__404">
                 <div class="wrapper">_
                     <div class="ears"></div>
                     <div class="cute">
                         <div class="forehead"></div>
                         <div class="eyes">
                             <span class="eye">
                                 <span></span>
                             </span>
                             <span class="eye">
                                 <span></span>
                             </span>
                         </div>
                         <div class="nose"></div>
                         <div class="mouth"></div>
                     </div>
                     <div class="front_legs">
                         <span></span>
                         <span></span>
                     </div>
                     <div class="back_legs">
                         <div class="div">
                             <span></span>
                             <span></span>
                         </div>
                     </div>
                 </div>
             </div>
        <h1>
           Coming soon.....
        </h1>
        <a href="{% url 'app:index' %}"><button class="notfound-btn">
            Go To Home
         </button></a>
     </div>
{% endblock main %}