{% extends 'main.html' %}
{% load static %}
{% block main %}



<!-- page content section -->
<div class="container page-container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-title">Contact Us</div>
            ​
            <h3>Looking to Contact SOR?</h3>
            <h4>Submit Your Queries, We are Happy to Talk to You! Share with us your thoughts, ideas and questions, we
                would like to keep in touch with you!</h4>
            ​
            <div class="step-sec">
                <b>Mail us to <a href="mailto:info@schoolofresources.com">info@schoolofresources.com</a></b><br>
                <b>Call <a href="tel:+91 75940 53092"> +91 75940 53092</a></b>
            </div>
        </div>
    </div>
</div>
<!-- End page content section -->
​{% endblock %}