{% extends 'main.html' %} {% load static %}
{% load custom_tags %}
{% block main %}

<!-- Banner -->

<div class="container py-5">
  <div class="row">
    {% if courses %}{% for c in courses %}
    <div class="col-lg-4 col-sm-6 mb-4">
      <a href="{% url 'courses:detail' c.uid %}" class="w-100">

        <div class="course-card">
          <img src="{{ c.course_image.url }}" alt="" class="course-card__img" />
        </div>

      </a>
      <h3 class="mt-3" for="">{{c.name}}</h3>
      <p class="mt-3 text-justify course-card__title">
        {{c.description|truncatechars:150}}
      </p>
      <!-- <a href="{% url 'courses:share' uid=c.uid %}">
        <button class="btn btn-main w-100 mt-4">share</button>  
      </a> -->
      {% if request.user.is_authenticated %}
      <div x-data="App()" class="d-block text-right mt-3">
        <button x-on:click="getLink('{{c.uid}}')" class="btn btn-danger px-3 badge-pill pb-2">
          Share <span class="uk-margin-small-left" uk-icon="social"></span>
        </button>
        <div class="social-share rounded" uk-dropdown="mode: click">
          <div x-show="link_generated && isLoading == false">
            <a x-bind:href="'https://www.facebook.com/sharer/sharer.php?u='+link.link" target="_blank"
              class="uk-icon-button  uk-margin-small-right text-fb" uk-icon="facebook"> </a>
            <a x-bind:href="'https://api.whatsapp.com/send?text='+link.link" target="_blank"
              class="uk-icon-button  uk-margin-small-right text-whatsapp" uk-icon="whatsapp"> </a>
            <a x-bind:href="'https://www.linkedin.com/shareArticle?mini=true&title='+link.title+'&url='+link.link"
              target="_blank" class="uk-icon-button text-linkedin" uk-icon="linkedin"></a>
            <a x-on:click="copyToClipBoard" class="uk-icon-button" id="copy-btn" uk-icon="copy"></a>
          </div>

          <div x-show="isLoading">
            <svg class="loader" version="1.1" id="L4" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
              enable-background="new 0 0 0 0" xml:space="preserve">
              <circle fill="#000" stroke="none" cx="6" cy="50" r="6">
                <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.1" />
              </circle>
              <circle fill="#000" stroke="none" cx="26" cy="50" r="6">
                <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.2" />
              </circle>
              <circle fill="#000" stroke="none" cx="46" cy="50" r="6">
                <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.3" />
              </circle>
            </svg>
          </div>

        </div>
      </div>
      {% else %}
      <div class="d-block text-right mt-3">
        <a href="{% url 'app:login' %}?next=/courses/courses/">
          <button class="btn btn-danger px-3 badge-pill pb-2">share<span class="uk-margin-small-left"
              uk-icon="social"></span></button>
        </a>
      </div>

      {% endif %}
    </div>
    {% endfor %}{% endif %}
  </div>
</div>

<script type="text/javascript">
  function App() {
    return {
      isLoading: false,
      link_generated: false,
      link: {},
      getLink: function (uid) {
        this.isLoading = true;
        // this.createEvent('load',{isLoading:true});
        const url = `/courses/share/${uid}`;
        fetch(url).then(res => res.json()).then(data => {
          // console.log(data);
          this.link = data;
          this.isLoading = false;
          this.link_generated = true;
        }).catch(err => {
        });
      },
      copyToClipBoard: function (event) {
        const { link } = this.link;
        const input = document.createElement('input');
        input.value = link;
        document.body.appendChild(input);
        input.select();
        document.execCommand('copy');
        const copyIcon = document.querySelector('#copy-btn');
        copyIcon.style.background = '#25d366';
        setTimeout(() => copyIcon.style.background = '#f8f8f8', 2000)

      },
      createEvent: function (name, detail) {
        const event = new CustomEvent(name, {
          detail: detail
        });
        document.dispatchEvent(event);
      }
    }
  }



</script>
{% endblock %}