{% extends 'main.html' %}
{% load static %}
{% block main %}


<!-- page content section -->
<div class="container page-container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-title">Discover</div>
            <p>We all dream about our career. The path we choose leads us to our destiny, our dream! With School of
                Resources, you can always set the goal high and we will help you touch the sky! All your career
                ambitions are accepted here and with SOR, learn the latest skills to reach your professional goals by
                acquiring the skills the future demands. A world of software, business, marketing, media etc. is now
                open for you to build your dream career at School of Resources. Come and join the world of wisdom and
                unwind your craving for learning!</p>
            <p>
                Online learning tears down all of the barriers because it creates room for education to flourish. You
                can find your
                dream online courses here. Plus, if you can’t find a course that interests you, we give you the chance
                to create a
                course yourself. Drill down as deeply into your subject as you wish. The internet has created an
                insatiable appetite for
                information. However, normal educational websites don’t always go into enough depth. But, SOR bridges
                the chasm between
                free information and specialized learning for which students will gladly join.
            </p>
            <div class="page-title">Our goal is to make online education work for everyone.</div>
            <p>We don’t have all the answers today, but we believe that by assembling a team that comes from different
                professional,
                personal, and educational backgrounds, together we will figure it out. Our team is currently around the
                world. Between
                us, we have covered almost every online courses. We don’t care if you have experience learning online;
                we care if you
                know how to learn.

                We are similarly flexible about where, when, and how you work. We aggregate courses from many providers
                to make it easy
                to find the best courses on almost any subject, wherever they exist. We focus primarily on technical
                courses. Whatever
                you are interested in learning, it is more than likely that our catalogue includes a course that will
                meet your needs.</p>
        </div>
    </div>
</div>
<!-- End page content section -->

{% endblock %}