{% extends 'main.html' %} {% load static %}{% block main %}

<!-- Banner -->

<div class="container py-5">
    {% if courses %}
    <h3>Your courses</h3>
    <hr />
  <div class="row">
    {% for c in courses %}
    <a class="col-lg-4 col-sm-6 mb-4" href="{% url 'courses:continue' c.uid %}">
      <div class="w-100">
        <div class="course-card">
          <img src="{{c.course.course_image.url}}" alt="" class="course-card__img" />
          <div class="course-card__info">
            <label class="course-card__info--title">{{c.course.name}} </label>
            <p class="course-card__info--details">
              {{c.course.description}}
            </p>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
  {% else %}
  <h4>You have no courses</h4>
  {% endif %}
</div>


{% endblock %}
