{% extends 'main.html' %} {% load static %} {% block main %}
<link rel="stylesheet" href="{%  static 'css/custom.css'  %}">

<!-- login -->
<div class="signlog-container">
  <div class="signlog">
    <img
      class="d-block mx-auto mb-5"
      src="{% static 'assets/logo_1589698236logo (1).png' %}"
      alt=""
    />
    <label class="w-100 text-center mb-0 pb-5 signlog__title" for=""
      >Log In</label
    >
    <form action="{% url 'app:login' %}" method='post'> {% csrf_token %}
      <div class="form-group">
        <input
          type="email"
          name="email"
          class="form-control mb-1"
          placeholder="Email"
          required
        />
      </div>
      <div class="form-group mb-0 position-relative">
        <input
          type="password"
          name="password"
          id="password"
          class="form-control mb-1"
          placeholder="Password"
          required
        />
        <img class="show-pass" src="{% static 'assets/eye.svg' %}" alt="">
        <img class="show-pass hide-password hide" src="{% static 'assets/eye-off.svg' %}" alt="">

        
      </div>
      {% if messages %} {% for message in messages %}
                  <span class="text-danger small mb-3">{{message}}</span>

        {% endfor %} {% endif %}
      <div
        class="d-flex flex-wrap align-items-center justify-content-between mt-3"
      >
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            name="remember-me"
            value="true"
            checked
            id="defaultCheck1"
          />
          <label class="form-check-label mt-1" for="exampleRadios1">
            Remember me
          </label>
        </div>
        <label for=""
          ><a class="signlog__forgotpass" href="{% url 'app:reset-password' %}">Forgot password?</a></label
        >
      </div>
      <button class="btn btn-main w-50 mx-auto d-block mt-5 mb-3">
        Log in
      </button>
      <label class="w-100 text-center signlog__moreoption" for=""
        >Don't have an account?
        <a class="text-decoration-none" href="{% url 'app:signup' %}"
          ><span class="text-main font-weight-normal">Sign Up</span></a
        ></label
      >
    </form>
  </div>
</div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded',function(){
    const eye = document.getElementsByClassName('show-pass')[0];
    const eyeOff = document.getElementsByClassName('hide-password')[0];
    const password = document.getElementById('password');
    eye.addEventListener('click',function(){
      password.type = "text"
      eye.classList.add('hide');
      eyeOff.classList.remove('hide');
    });
    eyeOff.addEventListener('click',function(){
      password.type = "password"
      eye.classList.remove('hide');
      eyeOff.classList.add('hide');
    })
  });
</script>

{% endblock main %}
