{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta proprty="og:title"
    content="School of Resources - Learn anything, anywhere at your convenience! Teach the world with our tools!" />

  {% if page_title %}
  <title>{{page_title}}</title>
  {% else %}
  <title>School of Resources</title>
  {% endif %}

  {% if webmaster %}
  <meta property="og:url" content="{{webmaster.url}}" />
  <meta property="og:type" content="online course" />
  <meta property="og:title" content="{{webmaster.title}}" />
  <meta property="og:description" content="{{webmaster.description|truncatechars:150}}" />
  <meta property="og:image" content="{{webmaster.image_url}}" />
  {% endif %}

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />

</head>

<body>
  <div class="container-fluid header">
    <div class="container d-flex flex-wrap align-items-center justify-content-between">
      <div class="d-flex align-items-center justify-content-start header__menu">
        <div class="header__logo py-2">

          <a href="{% url 'app:index' %}">
            <img src="{% static 'assets/logo_1589698236logo (1).png' %}" alt="" />
          </a>
        </div>
        <ul class="nav d-none d-md-flex py-2 align-items-center">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'app:home' %}">Home</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'courses:coursesall' %}">Courses</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="{% url 'app:comingsoon' %}">Programmes</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app:discover' %}">Discover</a>
          </li>
        </ul>
      </div>
      {% if request.user.is_authenticated %}
      <div class="col-lg col-12 d-flex flex-wrap align-items-center justify-content-end py-2 ">
        <li class="nav-item d-flex">
          <div class="wallet">
            <img class="mb-1" src="{% static 'assets/Icon ionic-md-wallet 1.png'%}" alt="">
            <div class="wallet__item ">
              <label class="text-light small mb-1" for="exampleInputPassword1">DISCOUNT</label>
              <input type="password" class="form-control" placeholder="${{request.user.discount_wallet}}" disabled>
            </div>
            <div class="wallet__item">
              <label class="text-light small mb-1">CASH</label>
              <input type="password" class="form-control" placeholder="${{request.user.primary_wallet}}" disabled>
            </div>

          </div>

        </li>

        <!-- <a href="#" target="_blank" rel="noopener noreferrer">Login</a>
                    <label for="" class="m-0 px-3">|</label>
                    <a href="#" target="_blank" rel="noopener noreferrer">Signup</a> -->
        <div class="dropdown">
          <button class="border-0 user-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{request.user.first_name}}
            <span class="uk-margin-small-left" uk-icon="icon: user"></span>
          </button>
          <div class="dropdown-menu dropdown-menu-right mt-3" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item py-2 text-dark" href="#"><span class="uk-margin-small-right"
                uk-icon="icon: user"></span>Profile</a>
            <a class="dropdown-item py-2 text-dark" href="{% url 'app:invite' %}"><span class="uk-margin-small-right"
                uk-icon="icon: user"></span>Invite</a>
            <a class="dropdown-item py-2 text-dark" href="{% url 'app:reset-password' %}"><span
                class="uk-margin-small-right" uk-icon="icon: user"></span>
              Reset Password
            </a>
            <a class="dropdown-item py-2 text-dark" id="logout-button"><span class="uk-margin-small-right"
                uk-icon="icon:  sign-out"></span>Sign out</a>
          </div>
        </div>
        <a href="" class="uk-icon-button ml-3 text-primary position-relative" uk-icon="cart">
          <span class="cart__count" id="cart-count">
            0
          </span>
        </a>
      </div>
      {% else %}
      <div class="col d-flex align-items-center justify-content-end py-2">
        <a href="{% url 'app:login' %}" rel="noopener noreferrer">Login</a>
        <label for="" class="m-0 px-3">|</label>
        <a href="{% url 'app:signup' %}" rel="noopener noreferrer">Signup</a>
      </div>
      {% endif %}

    </div>
  </div>
  <div class="header-offset">
    <!-- just offset -->
  </div>
  <div class="menu-bar d-flex d-md-none align-items-center justify-content-center">
    <div class="container">
      <ul class="nav justify-content-between">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'courses:coursesall' %}">Courses</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="{% url 'app:comingsoon' %}">Programmes</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'app:discover' %}">Discover</a>
        </li>
      </ul>
    </div>
  </div>

  {% block main %} {% endblock %}

  <!-- footer -->
  <div class="container-fluid footer-top">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center">
        <div class="header__logo py-3 mx-sm-0 mx-auto">
          <img src="{% static 'assets/logo_1589698236logo (1).png' %}" alt="" />
        </div>
        <div class="col-md-6 col-sm py-sm-0 py-3">
          <p class="px-3 m-0 text-light small text-sm-left text-center">
            If you're looking for an affordable, flexible lifelong-learning option, School of Resources could be an
            ideal fit. At
            School of Resources, our mission is to improve lives through learning. Sometimes that means new skills for a
            new career,
            and sometimes it's as simple as realizing a lifelong passion.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid footer-1 px-0 py-4">
    <div class="container">
      <div class="d-flex flex-wrap">
        <div class="col-md mb-3">
          <label class="text-white w-100 mb-md-4" for="">Useful links</label>
          <ul class="d-flex flex-wrap p-0">
            <a class="text-white w-100 footer__link" href="{% url 'app:aboutus' %}">
              <li class="nav-link pl-0 pb-0 small">About Us</li>
            </a>
            <a class="text-white w-100 footer__link" href="{% url 'app:refer&earn' %}">
              <li class="nav-link pl-0 pb-0 small">Refer & Earn</li>
            </a>
            <a class="text-white w-100 footer__link" href="{% url 'app:contactus' %}">
              <li class="nav-link pl-0 pb-0 small">Contact Us</li>
            </a>
            <!-- <a class="text-white w-100 footer__link" href="{% url 'app:workfromhome' %}">
              <li class="nav-link pl-0 pb-0 small">Work from home</li>
            </a> -->
            <!-- <a class="text-white w-100 footer__link" href="{% url 'courses:coursesall' %}">
              <li class="nav-link pl-0 pb-0 small">
                Digital marketing internship
              </li>
            </a>
            <a class="text-white w-100 footer__link" href="{% url 'app:franchisee' %}">
              <li class="nav-link pl-0 pb-0 small">Franchisee</li>
            </a> -->
          </ul>
        </div>

        <div class="col-md mb-3">
          <a class="nav-link px-0 mr-3 text-white w-100" href="{% url 'app:contactus' %}">
            Contact
          </a>

          <div class="d-flex flex-wrap justify-content-center align-items-start">
            <div class="col px-0">
              <label class="footer-info mt-3 d-flex align-items-start" for="">
                <label for=""><span class="text-info">Address : </span>
                  School of Resources Ltd.
                  <br />
                  46 Franklyn Road,
                  CT2 8PS,
                  Canterbury,
                  Kent, London, United Kingdom.</label>
              </label>
            </div>
          </div>

          <div class="d-flex flex-wrap justify-content-center align-items-start">
            <div class="col px-0">
              <label class="footer-info mt-3 d-flex align-items-start" for="">
                <label for=""><span class="text-info">Powered By : </span>
                  Jags Inventions India Pvt Ltd.
                  <br />
                  46/2892 D, Thykkavu , Vennala, Kochi, Ernakulam, Kerala, India, 682028
                </label>
              </label>
            </div>
          </div>
          <div class="d-flex flex-wrap align-items-start justify-content-center">
            <div class="col px-0">
              <label class="footer-info" for="">
                <label for=""><span class="text-info">Mail : </span><a href="mailto:info@schoolofresources.com"></a>
                  info@schoolofresources.com</label>
              </label>
            </div>
          </div>
          <!-- <div class="d-flex flex-wrap align-items-start justify-content-center">
            <div class="col px-0">
              <label class="footer-info d-flex align-items-start" for="">
              <label for=""><span class="text-info">Phone : </span> <a href="tel:+918921746526"></a>+91 892 174
                6526</label>
            </div>
          </div> -->
          <ul class="nav mt-0">
            <li class="nav-item">
              <a class="nav-link px-0 mr-3 text-white" href="#"><img src="{% static 'assets/fb.png' %}" alt="" /></a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-0 mr-3 text-white" href="#"><img src="{% static 'assets/whatapp.png'%}"
                  alt="" /></a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-0 mr-3 text-white" href="#"><img src="{% static 'assets/twiter.png'%}" alt="" /></a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-0 mr-3 text-white" href="#"><img src="{% static 'assets/insta.png'%}" alt="" /></a>
            </li>
          </ul>
        </div>
        <div class="col-md mb-3 newsletter-container">
          <label class="text-white w-100 mb-md-4" for="">Newsletter</label>
          <p class="small text-light my-0 newsletter pb-2 w-75">
            Stay updated with our latest trends Seed heaven so said place
            winged over given forth fruit.
          </p>
          <div class="form-group position-relative mb-0 subscribe-input">
            <input type="email" class="form-control" placeholder="Enter email address" />
            <button class="btn-primary rounded btn-send">
              <span uk-icon="icon: chevron-right"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container px-1">
      <div class="d-flex w-100 align-items-start justify-content-start flex-wrap">
        <a class="text-light mx-4 py-md-3 pb-2 pointer" href="{% url 'app:termsandconditions' %}">
          <li class="nav-link pl-0 pb-0 small">Terms & Conditions</li>
        </a>
        <a class="text-light mx-4 py-md-3 pb-2 pointer" href="{% url 'app:privacypolicy' %}">
          <li class="nav-link pl-0 pb-0 small">Privacy Policy</li>
        </a>
      </div>
    </div>
    <div class="copyright-1 px-3">
      Powered by <a href="https://jagsinventions.com">Jags Inventions India Pvt Ltd</a>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js" defer></script>
  <script src="{% static 'js/jquery-3.5.1.slim.min.js'%}"></script>
  <script src="{% static 'js/popper.min.js'%}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
  <script src="{% static 'js/uikit.min.js'%}"></script>
  <script src="{% static 'js/uikit-icons.mun.js'%}"></script>
  <script src="{% static 'js/script.js'%}"></script>

  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
      lg = document
        .getElementById("logout-button")
        .addEventListener("click", function () {
          const xhr = new XMLHttpRequest();
          xhr.open("GET", "/logout/", true);
          xhr.send();
          xhr.onreadystatechange = function () {
            if (
              this.readyState === XMLHttpRequest.DONE &&
              this.status === 200
            )
              window.location.reload();
          };
        });
    });
  </script>
</body>

</html>