{% extends 'main.html' %}
{% load static %}



{% block main %}
<link rel="stylesheet" type="text/css" href="{% static 'css/new-style.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">

<div class="hero-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-7 order-2">
                <div class="hero-content">
                    <div class="hero-title">The Finest <span>E-Learning Platform</span>, Where Great Minds Grow.</div>
                    <div class="hero-sub-title">Explore London Based Top Certificate Courses and Programs</div>
                    <a href="{% url 'courses:coursesall' %}" class="btn btn-style">Start Learning <i
                            class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            <div class="col-md-5 hero-img-sec order-sm-1"><img src="{% static 'assets/hero-img.svg' %}"
                    class="img-fluid"></div>
        </div>
    </div>
</div>


<section class="feature-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 features-img-sec order-2"><img src="{% static 'assets/features-img.svg' %}"
                    class="img-fluid"></div>
            <div class="col-lg-6 order-1">
                <div class="features-title">Our Key Features <i class="fas fa-chevron-right"></i></div>
            </div>
            <div class="col-lg-6 order-3">
                <div class="features-list">
                    <img src="{% static 'assets/Accessibility.svg' %}" class="img-fluid">
                    <div class="feature-content">
                        <div class="feature-title">Accessibility</div>
                        <p>SOR learning platform is easy to use and have worldwide accessibility. You can interact with
                            experts
                            through chats and call support.</p>
                    </div>
                </div>
                <!--features-list-->

                <div class="features-list">
                    <img src="{% static 'assets/evaluation.svg' %}" class="img-fluid">
                    <div class="feature-content">
                        <div class="feature-title">Evaluation</div>
                        <p>Evaluate yourselves with mock tests and doubt ticketing option. Get high-quality video
                            contents and
                            study materials. </p>
                    </div>
                </div>
                <!--features-list-->

                <div class="features-list">
                    <img src="{% static 'assets/Usage.svg' %}" class="img-fluid">
                    <div class="feature-content">
                        <div class="feature-title">Usage</div>
                        <p>Avail international learning experience and free access to study materials, along with
                            unlimited access
                            to videos.</p>
                    </div>
                </div>
                <!--features-list-->

                <div class="features-list">
                    <img src="{% static 'assets/Uniqueness.svg' %}" class="img-fluid">
                    <div class="feature-content">
                        <div class="feature-title">Uniqueness</div>
                        <p>Yes, SOR is 100% secure! You can save your travel expense and time on your schooling and plan
                            your
                            classes at your fingertip. </p>
                    </div>
                </div>
                <!--features-list-->

                <div class="features-list">
                    <img src="{% static 'assets/Scholarships.svg' %}" class="img-fluid">
                    <div class="feature-content">
                        <div class="feature-title">Scholarships</div>
                        <p>A wide variety of scholarships are awaiting the students that can add to their learning
                            experience and
                            opportunities.</p>
                    </div>
                </div>
                <!--features-list-->

            </div>
        </div>
    </div>
</section>



<section>
    <div class="container">
        <div class="sec-title">
            OUR <span>COURSES</span>
        </div>
        <div class="row">
            {% for course in courses %}
            <div class="col-lg-4 col-md-6">
                <div class="course-list">
                    <a href="{% url 'courses:detail' course.uid %}"><img src="{{course.course_image.url}}"
                            class="img-fluid course-list-img"></a>
                    <a href="{% url 'courses:detail' course.uid %}">
                        <div class="course-title">{{course.name}}</div>
                    </a>
                    <p class="line-clamp">{{course.description}}</p>
                    <div class="btn-sec">
                        <a href="{% url 'courses:detail' course.uid %}">View More <i
                                class="fas fa-angle-double-right"></i></a>


                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
</section>

{% endblock main %}