{% extends 'main.html' %}
{% load static %}
{% block main %}

<!-- page content section -->
<div class="container page-container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-title">Privacy Policy</div>
            <p><i>This Privacy Policy was last updated on March 19, 2021</i></p>
            <p>Thank you for joining the world’s best online learning platform. We at School of Resources (<b>“SOR”,
                    “we”, “us”</b>) respect your privacy and want you to understand how we collect, use, and share data
                about you. This Privacy Policy covers our data collection practices and describes your rights to access,
                correct, or restrict our use of your personal data.
                Unless we link to a different policy or state otherwise, this Privacy Policy applies when you visit or
                use the <b>SOR</b> website, mobile applications, APIs or related services (the <b>Services</b>”).</p>

            <p><b>By using the Services, you agree to the terms of this Privacy Policy.</b> You shouldn’t use the
                Services if you don’t agree with this Privacy Policy or any other agreement that governs your use of the
                Services.</p>


            <p>
                <b>1. What Data We Get</b><br>
                We collect certain data from you directly, like the information you enter yourself, data about your
                participation in courses, and data from third-party platforms you connect with SOR. We also collect some
                data automatically, like information about your device and what parts of our services you interact with
                or spend time using.
            </p>

            <p>
                <b>2. Data You Provide to Us</b><br>
                We may collect different data from or about you depending on how you use the Services. When you create
                an account and use the Services, including through a third-party platform, we collect any data you
                provide directly like account data, course data, shared content, profile data etc.
            </p>


            <p>
                <b>3. Cookies and Data Collection Tools</b><br>
                We use cookies, which are small text files stored by your browser, to collect, store, and share data
                about your activities across websites, including on SOR. They allow us to remember things about your
                visits to SOR, like your preferred language, and to make the site easier to use.
            </p>

            <p>
                SOR and service providers acting on our behalf (like Google Analytics and third-party advertisers) use
                server log files and automated data collection tools like cookies, tags, scripts, customized links,
                device or browser fingerprints, and web beacons (together, “<b>Data Collection Tools</b>“) when you
                access and use the Services.
            </p>

            <p>These Data Collection Tools automatically track and collect certain System Data and Usage Data (as
                detailed in Section 1) when you use the Services. In some cases, we tie data gathered through those Data
                Collection Tools to other data that we collect as described in this Privacy Policy.</p>


            <p><b>4. How We Get Data About You</b><br>
                We use tools like cookies, web beacons, and similar tracking technologies to gather the data listed
                above. Some of these tools offer you the ability to opt-out of data collection.</p>

            <p>
                <b>5. Who We Share Your Data With</b><br>
                We share certain data about you with instructors, other students, companies performing services for us,
                SOR affiliates, our business partners, analytics and data enrichment providers, your social media
                providers, companies helping us run promotions and surveys, and advertising companies who help us
                promote our Services. We may also share your data as needed for security, legal compliance, or as part
                of a corporate restructuring. Lastly, we can share data in other ways if it is aggregated or
                de-identified or if we get your consent.
            </p>


            <p>
                <b>6. Updates & Contact Info</b><br>
                When we make a material change to this policy, we’ll notify users via email, in-product notice, or
                another mechanism required by law. Changes become effective the day they’re posted. Please contact us
                via email or postal mail with any questions, concerns, or disputes.
            </p>

            <p>
                <b>7. Your Rights</b><br>
                You have certain rights around the use of your data, including the ability to opt-out of promotional
                emails, cookies, and the collection of your data by certain third parties. You can update or terminate
                your account from within our Services, and can also contact us for individual rights requests about your
                data. Parents who believe we’ve unintentionally collected personal data about their underage child
                should contact us for help deleting that information.
            </p>

            <p>
                <b>8. Security</b><br>
                We use appropriate security based on the type and sensitivity of data being stored. As with any
                internet-enabled system, there is always a risk of unauthorized access, so it’s important to protect
                your password and to contact us if you suspect any unauthorized access to your account.
            </p>




        </div>
    </div>
</div>
<!-- End page content section -->


{% endblock %}