{% extends 'main.html' %}
{% load static %}
{% block main %}


<!-- page content section -->
<div class="container page-container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-title">Refer & Earn</div>
            <h3>Refer Someone You Know and Get amazon Vouchers Worth ₹500!</h3>
            <p>By 2025 India’s tech sector will sustain up to 65 million jobs! Know anyone who can meet this increasing
                demand? Then, share this gift of education with them now!</p>

            </a>
            <a href="{% url 'app:invite' %}" class="btn btn-main mr-2">Sign Up & Refer</a>
            ​
            <div class="step-by-step">
                <h3>How Do I Refer?</h3>
                <h4>It only takes 3 simple steps to change someone’s life!</h4>
                ​
                <div class="step-sec">
                    <h4>1. Sign Up & Share</h4>
                    <p>Sign up on our website and get your referral code to share. Share your referral code with someone
                        you know who wishes to join one of our programs.</p>
                </div>
                ​
                <div class="step-sec">
                    <h4>2. Apply Code</h4>
                    <p>Your friend can apply for their desired course with your referral code to be eligible for the
                        discount.</p>
                </div>
                ​
                <div class="step-sec">
                    <h4>3. Get Referral Benefits</h4>
                    <p>Yay! You will receive your referral rewards once the referee makes the payment for their desired
                        course.</p>
                </div>
                ​
                <div class="step-sec">
                    <a href="{% url 'courses:coursesall' %}" class="btn btn-main mr-2">Find the perfect course for your
                        friend here!</a>
                </div>
            </div>
            ​
            ​
        </div>
    </div>
</div>
<!-- End page content section -->
​
​
​

{% endblock %}