{% extends 'main.html' %}
{% load static %}
{% block main %}
    <div class="container py-5">
        <div class="mb-4 text-center">
            <img class="mb-3" style="width: 80px;" src="{% static 'assets/gift-box.svg' %}" alt="">
            <h4 class="w-50 mx-auto mb-3" for="">Refer your friends and family and earn credit points to your wallet</h4>
            <p class="my-3 small w-75 mx-auto">Earn 10% of the brokerage your referals and pay 300 reward points for each referal. Withdraw the
                brokerage earnings to your bank acount
                and redeem reward points to suscribe to our paid services.
                <a class="text-center" href="#"">
                    <small>Learn more</small>
                </a>
            </p>
        </div>
        
        <div class="d-flex align-items-center border p-2 justify-content-between">
            <span class="border-0 w-100 text-primary small" id="link">{{url}}</span>
            <button class="btn btn-base text-dark" id="copy-btn">Copy</button>
        </div>
    </div>
    <style>
        .btn-base {
            background: #edf2fe;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded',function(){
            const linkText = document.getElementById('link');
            const btn = document.getElementById('copy-btn').addEventListener('click',function(){
                var input = document.createElement('input');
                input.value = linkText.innerText;
                document.body.appendChild(input);
                input.select();
                document.execCommand('copy');
                this.classList.remove('text-dark');
                this.classList.add('btn-success', 'text-light');
                this.innerText = 'copied!'
                setTimeout(() =>{
                    this.innerText = 'copy'
                    this.classList.remove('btn-success','text-light');
                },2000);
            });
        });
    </script>
{% endblock %}