{% extends 'main.html' %}
{% load static %}
{% block main %}
<div x-data="App()" x-show="isLoading" x-on:load.window="isLoading = $event.detail.isLoading">
    <div id="loader"
        class="container-fluid vh-100 w-100 d-flex align-items-center justify-content-center overlay-black">
        <svg class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
</div>
<div x-data="App()" class="signlog my-5">
    <img class="d-block mx-auto mb-5" src="{% static 'assets/logo_1589698236logo (1).png' %}" alt="">
    <label class="w-100 text-center mb-0 pb-5 signlog__title" for="">Reset password</label>
    <form x-show='!otpSent' x-on:change.window="otpSent = $event.detail.otpSent" id="otp-form">
        <div class="form-group position-relative">
            <input type="text" id="reachable" class="form-control" name="reachable" placeholder="Email / Phone number" required>
            <button x-on:click="sendOTP" class="btn btn-main otp-btn">Send OTP</button>
        <span id='error-text' class="text-danger text-small"></span>
        </div>
        </form>



    <form x-show="otpSent" x-on:submit="reset" x-init="otpSent=false" x-on:submit.window = "passwordError = $event.detail.passwordError" id="password-form">
        <div class="form-group position-relative">
            <input type="number" class="form-control" name="otp" placeholder="OTP" required>
            <div class="resend otp-btn">
                didn't recieve otp
                <a x-on:click="resendOTP" class="text-decoration-none w-100 d-block"><span class="text-main">Resend</span></a>
            </div>
        </div>
        <div class="form-group">
            <input type="password" name="password" id="password" class="form-control" placeholder="New password" required>
        </div>
        <div class="form-group">
            <input  type="password" name="repeat-password" id="repeat-password" class="form-control" placeholder="Confirm password" required>
            <span x-text="passwordError" class="text-danger text-small"></span>
        </div>
        <button class="btn btn-main w-50 mx-auto d-block mt-5 mb-3">Finish</button>
        <label class="w-100 text-center signlog__moreoption" for="">Return to <a
                class="text-decoration-none" href="{% url 'app:login' %}"><span class="text-main font-weight-normal">Log
                    in</span></a></label>
    </form>
</div>
{% csrf_token %}
<script>
    function App(){
        return {
            reachable:"",
            otpSent:false,
            isLoading:false,
            isSame:false,
            passwordError:"",
            geodata:{},
            validate:function(){
                
                const password = document.getElementById('password').value;
                const repeat_password = document.getElementById('repeat-password').value;
                console.log(password);
                if (password === repeat_password){
                    this.isSame = true;
                    this.passwordError = ""
                    return true;
                }
                else{
                    this.isSame = false;
                    this.passwordError = "Passwords dont match!";
                    return false;
                }
            },
            sendOTP(e){
                e.preventDefault();
                function onsuccessotp(res){
                    this.otpSent = true;
                    this.isLoading = createLoadEvent(false);
                    this.reachable = res.reachable;
                    localStorage.setItem('reachable',res.reachable)
                    const event = new CustomEvent('change', {
                        detail: {
                            otpSent: true
                        }
                    });
                    window.dispatchEvent(event);
                }
                function onfailotp(res){
                    this.otpSent = false;
                    document.getElementById('error-text').innerText = res.error;
                    this.isLoading = createLoadEvent(false);
                }
                this.isLoading = createLoadEvent(true);
                const xhr = new XMLHttpRequest();
                xhr.open("GET", 'https://freegeoip.app/json/', true);
                xhr.send();
                xhr.onreadystatechange = function () {
                    if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                        const res = JSON.parse(this.response);
                        localStorage.setItem('country_code',res.country_code)
                        requestOTP(res,onsuccessotp, onfailotp);
                    }
                }
                                
            },
            resendOTP:function(){
                const country_code = localStorage.getItem('country_code');
                const payload = new FormData();
                const reachable = localStorage.getItem('reachable')
                payload.append('csrfmiddlewaretoken','{{csrf_token}}');
                payload.append('reachable',reachable);
                payload.append('geodata',country_code);
                function success(){
                    return createLoadEvent(false);
                }
                                
                createLoadEvent(true);
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/sent-otp/', true);
                xhr.send(payload);
                xhr.onreadystatechange = function(){
                    if(this.readyState === XMLHttpRequest.DONE && this.status === 201){
                        success();
                    }
                }
            },
            onsuccess:function(res){
                this.otpSent = true;
                this.isLoading = createLoadEvent(false);
                this.reachable = res.reachable;
                const event = new CustomEvent('change',{detail:{
                    otpSent:true
                }});
                window.dispatchEvent(event);
            },
            onfailotp:function(res){
                this.otpSent = false;
                document.getElementById('error-text').innerText = res.error;
                this.isLoading = createLoadEvent(false);
            },
            reset:function(e){
                e.preventDefault();
                const validated = this.validate();
                function onsuccess(){
                    this.isLoading = false;
                    window.location.replace('/login/')
                }
                function onfail(res){
                    console.log(res)
                    this.isLoading = false;
                    this.passwordError = res.error
                    const event = new CustomEvent('submit',{
                        detail:{
                            passwordError:res.error
                        }
                    });
                    window.dispatchEvent(event);
                }
                if (validated === true){
                    this.isLoading = true;
                     var xhr = new XMLHttpRequest();
                    xhr.open('POST', '', true);
                    const form = document.querySelector('#password-form');
                    const payload = new FormData(form);
                    payload.append('csrfmiddlewaretoken', '{{csrf_token}}')
                    xhr.send(payload);
                    xhr.onreadystatechange = function () {
                        if (this.readyState === XMLHttpRequest.DONE && this.status === 400) {
                            const res = JSON.parse(this.response);
                            onfail(res);
                            this.passwordError = res.error
                        }
                        else if (this.readyState === XMLHttpRequest.DONE && this.status === 201) {
                            console.log(this.response);
                            onsuccess();
                        }
                    }
                }
                console.log(this.passwordError)
            }
        }
    }

    const createLoadEvent =  (bool) => {
        const event = new CustomEvent('load',{
            detail:{
                isLoading:bool
            }
        });
        window.dispatchEvent(event);
        return bool;
    }



    function requestOTP(geodata,onsuccess, onfail){
        const form = document.getElementById('otp-form');        
        const payload = new FormData(form);
        payload.append('geodata',geodata.country_code);
        payload.append("csrfmiddlewaretoken","{{csrf_token}}");
        var xhr = new XMLHttpRequest();
        xhr.open('POST','/sent-otp/',true);
        xhr.send(payload);
        xhr.onreadystatechange = function() {
            if(this.readyState === XMLHttpRequest.DONE && this.status === 201){
                onsuccess(JSON.parse(this.response));
            }
            else if(this.readyState === XMLHttpRequest.DONE && this.status === 400){
                const res = JSON.parse(this.response);
                console.log(res)
                onfail(res);
            }
        }
    }   

   
    function submit(onsuccess, onfail){
        var xhr = new XMLHttpRequest();
        xhr.open('POST','',true);
        const form = document.querySelector('#password-form');
        const payload = new FormData(form);
        payload.append('csrfmiddlewaretoken','{{csrf_token}}')
        xhr.send(payload);
        xhr.onreadystatechange = function(){
            if(this.readyState === XMLHttpRequest.DONE && this.status === 400){
                const res = JSON.parse(this.response);
                onfail(res);
            }
            else if (this.readyState === XMLHttpRequest.DONE && this.status === 201) {
                console.log(this.response);
                onsuccess();
            }
        }
    }



</script>

{% endblock %}
