{% extends 'main.html' %} {% load static %} {% block main %}
<!-- signup -->

<div class="signlog-container">
  <div x-data="App()" x-init="init()" x-on:changeC.window="geoData = $event.detail.item" class="signlog">
    <img class="d-block mx-auto mb-5" src="{% static 'assets/logo_1589698236logo (1).png' %}" alt="" />
    <label class="w-100 text-center mb-0 pb-5 signlog__title" for="">Sign up</label>
    <form id="sign-up-form" action={% url 'app:signup' %} method="post"> {% csrf_token %}
      <div class="form-group">
        <div class="d-flex">
          <div class="form-group col pl-0">
            <select x-on:change="changeCountry(event)" x-on:load.document="geoData = $event.detail.geoData, countries = $event.detail.countries" id="input-country" name="country" class="form-control">
              <option x-text="geoData.name" selected></option>
              <template x-for="item in countries">
                  <option x-text="item.name"></option>
              </template>
              
            </select>
          </div>
          <div class="form-group col-5 px-0">
            <input x-bind:value="geoData.alpha2Code" x-ref="countryCode" type="text" name="country-code" id="country-code" class="form-control" placeholder="Country code" />
          </div>

          <br />
        </div>
        <div class="d-flex mb-2">
          <div class="col pl-0 pr-1">
            <input type="text" id="first_name" name="first-name" class="form-control" placeholder="First name"
            autocomplete="off" />
          </div>
          <div class="col pr-0 pl-2">
            <input type="text" name="last-name" id="last_name" class="form-control" placeholder="Last name"
            autocomplete="off" />
          </div>
        </div>
        <span class="text-danger small" id="first_name_error"></span>
      </div>
      <div class="form-group">
        <input type="Email" name="email" id="email" class="form-control mb-2" placeholder="Email" autocomplete="off" />
        <span class="text-danger small" id="email_error"></span>
      </div>
      <div class="d-flex">
        <div class="form-group area-code px-0">
          <input type="number" name="phone-code" id="areacode" class="form-control mb-2" placeholder="91"
            autocomplete="off" />
          <span class="text-danger small" id="phone_error"></span>
        </div>
        <div class="form-group col pr-0">
          <input type="number" name="phone" id="phone" class="form-control mb-2" placeholder="Phone"
            autocomplete="off" />
          <span class="text-danger small" id="phone_error"></span>
        </div>
      </div>
      <div class="form-group">
        <input type="Password" name="password" id="password" class="form-control mb-2" placeholder="Password"
          autocomplete="off" />
        <span class="text-danger small" id="password_error"></span>
      </div>


      <button class="btn btn-main w-50 mx-auto d-block mt-5 mb-3"
         data-action='submit'>
        Sign up
      </button>
      <label class="w-100 text-center signlog__moreoption" for="">Already have an account?
        <a class="text-decoration-none" href="{% url 'app:login' %}"><span class="text-main font-weight-normal">Log
            in</span></a></label>
    </form>
  </div>
</div>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("sign-up-form");
    form.addEventListener('submit', (e) => {
      e.preventDefault();
      const FD = new FormData(form);
      FD.append("csrfmiddlewaretoken", "{{csrf_token}}");
      FD.append("refferal_code","{{refferal_code}}");
      signup(FD);
    });
  });


  function signup(body) {
    const xhr = new XMLHttpRequest();
    xhr.open('POST', '/sign-up/', true);
    xhr.send(body);
    xhr.onreadystatechange = function () {
      if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
        const object = JSON.parse(this.response);
        console.log(object)
        for (const [key, value] of Object.entries(object)) {
          const inputElement = document.getElementById(key);

          try {
            inputElement.innerHTML = value;
          } catch (error) {
            null
          }
        }
      }
      else if (this.readyState === XMLHttpRequest.DONE && this.status === 201) {
        const res = JSON.parse(this.response);
        const redirect_url = res.redirect_url;
        console.log(redirect_url !== null && redirect_url.length !== 0)
        if(redirect_url !== null && redirect_url.length !== 0) {
            window.location.replace(redirect_url);
        }
        else{
        window.location.reload();
        }
      }
      else if (this.readyState === XMLHttpRequest.DONE && this.status === 403){
        window.location.reload();
      }
    }
  }

  function onSubmit(token) {
    document.getElementById("sign-up-form").submit();
    console.log(e)
  }




  function App(){
    return {
      geoData:{},
      countries:[],
      changeCountry:function(e){
        const name = e.target.value;
        const countries = JSON.parse(JSON.stringify(this.countries));
        const country = countries.find((e) => e.name === name)
        this.geoData = country;
        document.getElementById('areacode').value = country.callingCodes[0];
        const event = new CustomEvent('changeC',{
          detail:{
            item:country
          }
        });
        window.dispatchEvent(event);
      },
      init:function(){
        function setCountries(res){
          const location = JSON.parse(res);
          this.geoData = location;
          const countries = getCountries();
          countries.then(res => res.json()).then(count => {
            this.countries = count;
            const c = getCountry(count, location.country_code);
            this.geoData = c;
            document.getElementById('areacode').value = c.callingCodes[0];
            const event = new CustomEvent('load',{
              detail:{
                geoData:this.geoData,
                countries:this.countries
              }
            });
            document.dispatchEvent(event)
            }
          );
        }
          getGeoLoation(setCountries);
   
          
        }
      }
    }

    async function getCountries(){
        const url = "https://restcountries.eu/rest/v2/all?fields=name;callingCodes;alpha2Code";
        const res = await fetch(url);
        return res;
    }
     async function getGeoLoation(callback) {
        const url = "https://freegeoip.app/json/";
        // const res = await fetch(url, {
        //   method: 'GET',
        //   mode: 'cors',
        //   cache: 'no-cache',
        //   credentials: 'same-origin',
        //   headers: { "content-type": "application/json", "accept": "application/json" },
        //   referrerPolicy: 'no-referrer'
        // })
        var xhr = new XMLHttpRequest();
        xhr.open('GET',"https://freegeoip.app/json/",true);
        xhr.send();
        xhr.onreadystatechange = function(){
        if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200){
          const location = JSON.parse(xhr.response);
           callback(this.response);
          }
        }
      };
      function getCountry(array,code){
        const object = array.find((e) => e.alpha2Code === code);
        return object;
      }
</script>

{% endblock main %}
