{% extends 'main.html' %}
{% load static %}
{% block main %}
<!-- page content section -->
<div class="container page-container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-title">Terms & Conditions</div>

            <div class="step-by-step">
                <p><b>Pricing</b><br>
                    The prices of courses on SOR are determined based on the terms of the Instructor Terms and our
                    Promotions Policy. The pricing of each course is given below every course title respectively. </p>
                <p>
                    If you are logged into your account, the listed currency you see is based on your location when you
                    created your account. If you are not logged into your account, the price currency is based on the
                    country where you are located. We do not enable users to see pricing in other currencies.
                </p>
                <p>
                    If you are a student located in a country where use and sales tax, goods and services tax, or
                    value-added tax applies to consumer sales, we are responsible for collecting and remitting that tax
                    to the proper tax authorities. Depending on your location, the price you see may include such taxes,
                    or tax may be added at checkout.
                </p>
            </div>


            <div class="step-by-step">
                <p><b>Payments</b><br>
                    You agree to pay the fees for courses that you purchase, and you authorize us to charge your debit
                    or credit card or process other means of payment (such as Boleto, SEPA, direct debit, or mobile
                    wallet) for those fees. SOR works with third-party payment processing partners to offer you the most
                    convenient payment methods in your country and to keep your payment information secure. </p>

                <p>When you make a purchase, you agree not to use an invalid or unauthorized payment method. If your
                    payment method fails and you still get access to the course you are enrolling in, you agree to pay
                    us the corresponding fees within thirty (30) days of notification from us. We reserve the right to
                    disable access to any course for which we have not received adequate payment.
                </p>
            </div>


            <div class="step-by-step">
                <p><b>SOR’s Rights</b><br>
                    We own the SOR platform and Services, including the website, present or future apps and services,
                    and things like our logos, API, code, and content created by our employees. You can’t tamper with
                    those or use them without authorization.</p>

                <p>All right, title and interest in and to the Udemy platform and Services, including our website, our
                    existing or future applications, our APIs, databases, and the content our employees or partners
                    submit or provide through our Services (but excluding content provided by instructors and students)
                    are and will remain the exclusive property of SOR and its licensors. Our platforms and services are
                    protected by copyright, trademark, and other laws of both the United States and foreign countries.
                    Nothing gives you a right to use the SOR name or any of the SOR trademarks, logos, domain names, and
                    other distinctive brand features. Any feedback, comments, or suggestions you may provide regarding
                    SOR or the Services is entirely voluntary and we will be free to use such feedback, comments, or
                    suggestions as we see fit and without any obligation to you.</p>

                <p>
                    You may not do any of the following while accessing or using the SOR platform and Services:<br>
                <ul>
                    <li>access, tamper with or use non-public areas of the platform (including content storage), SOR’s
                        computer systems, or the technical delivery systems of SOR’s service providers.</li>
                    <li>disable, interfere with, or try to circumvent any of the features of the platforms related to
                        security or probe, scan, or test the vulnerability of any of our systems.</li>
                    <li>copy, modify, create a derivative work of, reverse engineer, reverse assemble, or otherwise
                        attempt to discover any source code of or content on the SOR platform or Services.</li>
                    <li>access or search or attempt to access or search our platform by any means (automated or
                        otherwise) other than through our currently available search functionalities that are provided
                        via our website, mobile apps, or API (and only according to those API terms and conditions). You
                        may not scrape, spider, use a robot, or use other automated means of any kind to access the
                        Services.</li>
                    <li>in any way use the Services to send altered, deceptive, or false source-identifying information
                        (such as sending email communications falsely appearing as Udemy); or interfere with, or
                        disrupt, (or attempt to do so), the access of any user, host, or network, including, without
                        limitation, sending a virus, overloading, flooding, spamming, or mail-bombing the platforms or
                        services, or in any other manner interfering with or creating an undue burden on the Services.
                    </li>
                </ul>
                </p>
            </div>


            <div class="step-by-step">
                <p><b>Using SOR at Your Own Risk</b><br>
                    Our platform model means we do not review or edit the courses for legal issues, and we are not in a
                    position to determine the legality of course content. We do not exercise any editorial control over
                    the courses that are available on the platform and, as such, do not guarantee in any manner the
                    reliability, validity, accuracy, or truthfulness of the courses. If you enrol in a course, you rely
                    on any information provided by the instructor at your own risk.</p>

                <p>By using the Services, you may be exposed to content that you consider offensive, indecent, or
                    objectionable. SOR has no responsibility to keep such content from you and no liability for your
                    access or enrollment in any course to the extent permissible under applicable law. This also applies
                    to any courses relating to health, wellness, and physical exercise. You acknowledge the inherent
                    risks and dangers in the strenuous nature of these types of courses, and by enrolling in such
                    courses you choose to assume those risks voluntarily, including the risk of illness, bodily injury,
                    disability, or death. You assume full responsibility for the choices you make before, during, and
                    after your enrollment in a course.</p>

                <p>When you interact directly with a student or an instructor, you must be careful about the types of
                    personal information that you share. While we restrict the types of information instructors may
                    request from students, we do not control what students and instructors do with the information they
                    obtain from other users on the platform. You should not share your email or other personal
                    information about you for your safety.</p>

                <p>We do not hire or employ instructors nor are we responsible or liable for any interactions involved
                    between instructors and students. We are not liable for disputes, claims, losses, injuries, or
                    damage of any kind that might arise out of or relate to the conduct of instructors or students.</p>
                <p>When you use our Services, you will find links to other websites that we don’t own or control. We are
                    not responsible for the content or any other aspect of this third-part.
                </p>
            </div>


            <div class="step-by-step">
                <p><b>Our Policy Concerning Children</b><br>
                    We recognize the privacy interests of children and encourage parents and guardians to take an active
                    role in their children’s online activities and interests. Individuals younger than 18 years of age,
                    but of the required age for consent to use online services where they live, may not set up an
                    account but may have a parent or guardian open an account and help them enrol in appropriate
                    courses. Individuals younger than the required age for consent to use online services may not use
                    the services. If we learn that we’ve collected personal data from a child under those ages, we will
                    take reasonable steps to delete it.</p>

                <p>Parents who believe that SOR may have collected personal data from a child under those ages can
                    submit a request that it be removed to <a
                        href="mailto:info@schoolofresources.com">info@schoolofresources.com</a>
                </p>
            </div>


            <div class="step-by-step">
                <p><b>Updating These Terms</b><br>
                    From time to time, we may update these Terms to clarify our practices or to reflect new or different
                    practices (such as when we add new features), and SOR reserves the right in its sole discretion to
                    modify and/or make changes to these Terms at any time. If we make any material change, we will
                    notify you using prominent means, such as by email notice sent to the email address specified in
                    your account or by posting a notice through our Services. Modifications will become effective on the
                    day they are posted unless stated otherwise.</p>

                <p>Your continued use of our Services after changes become effective shall mean that you accept those
                    changes. Any revised Terms shall supersede all previous Terms.
                </p>
            </div>
            <div class="step-by-step">
                <p>
                    <b>Return & Refund Policy</b><br>
                    Once an order is placed, and the Product is delivered to the customer, or once the live class is
                    served, no subsequent
                    refund/return request shall be accepted by the Company or any of its distributor(s). For the policy
                    pertaining to the
                    return of Product(s) damaged in transit or at the time of delivery, kindly refer to the instruction
                    sheet available with
                    such Product(s).
                </p>

            </div>


            <div class="step-by-step">
                <p><b>How to Contact Us</b><br>
                    The best way to get in touch with us is to contact our 24x7 Support. We’d love to hear your
                    questions, concerns, and feedback about our Services.
                </p>
            </div>

            <div class="step-by-step">
                <p><b>Thanks for teaching and learning with us!</b></p>
            </div>


        </div>
    </div>
</div>
<!-- End page content section -->

{% endblock %}